<div style="width: 100%; height: 100%; font-size: small;">
  <table id="proptable" style="padding: 10px; width: 100%;" *ngIf="selectedObject">
    <colgroup>
      <col span="1" style="width: calc(100% - 200px);">
      <col span="1" style="width: 200px;">
    </colgroup>
    <tr *ngFor="let prop of selectedObject.GetProperties()">
      <td><span matTooltip="{{prop.Tooltip | translate}}" matTooltipShowDelay="1000">{{prop.DisplayName | translate}}</span></td>
      <td>
        <!--Arrow Position-->
        <select *ngIf="prop.Type == 'Arrow Position'" style="width: 100%;" [class.disable]="!prop.Editable" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let pos of GetArrowPositions()" [value]="pos">{{GetArrowPositionName(pos) | translate}}</option>
        </select>
        <!--Assign Number To Asset-->
        <button mat-raised-button *ngIf="prop.Type == 'Assign Number To Asset'" (click)="AssignNumberToAsset()">{{'properties.AssignNumber' | translate}}</button>
        <!--Check Box-->
        <mat-checkbox *ngIf="prop.Type == 'Check Box'" color="primary" [checked]="GetValue(prop)" (change)="SetValue(prop, $event['checked'])" [disabled]="!prop.Editable"></mat-checkbox>
        <!--Device Interface Name-->
        <select *ngIf="prop.Type == 'Device Interface Name'" style="width: 100%;" [class.disable]="!prop.Editable" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let name of GetDeviceInterfaceNames()" [value]="name">{{name | translate}}</option>
        </select>
        <!--Data Flow Change Direction-->
        <ng-container *ngIf="prop.Type == 'Data Flow Change Direction'">
          <button mat-icon-button class="iconBtn" style="margin-right: 5px;" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="flowMenuIsOpen = true" matTooltip="{{'properties.FlowAnchor' | translate}}" matTooltipShowDelay="1000">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1">
              <circle *ngIf="AnchorCount == 8" [attr.fill]="GetIconColor()" cx="3" cy="3" r="2"/>
              <circle *ngIf="AnchorCount == 8" [attr.fill]="GetIconColor()" cx="3" cy="20" r="2"/>
              <circle *ngIf="AnchorCount == 8" [attr.fill]="GetIconColor()" cx="20" cy="3" r="2"/>
              <circle *ngIf="AnchorCount == 8" [attr.fill]="GetIconColor()" cx="20" cy="20" r="2"/>
            
              <circle [attr.fill]="GetIconColor()" cx="11.5" cy="3" r="2"/>
              <circle [attr.fill]="GetIconColor()" cx="11.5" cy="20" r="2"/>
              <circle [attr.fill]="GetIconColor()" cx="3" cy="11.5" r="2"/>
              <circle [attr.fill]="GetIconColor()" cx="20" cy="11.5" r="2"/>
            </svg>
          </button>
          <!-- This template displays the overlay content and is connected to the button -->
          <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="flowMenuIsOpen">
            <div style="padding: 3px;" class="flowAnchorOverlay" [class.flowAnchorOverlay-dark]="theme.IsDarkMode" [class.flowAnchorOverlay-light]="!theme.IsDarkMode">
              <div class="flowAnchorOverlay" [class.flowAnchorOverlay-dark]="theme.IsDarkMode" [class.flowAnchorOverlay-light]="!theme.IsDarkMode">
                <table>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.NorthWest})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center;">
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.North})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.NorthEast})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.West})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center; font-size: small;">
                      {{'properties.Sender' | translate}}
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.East})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.SouthWest})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center;">
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.South})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '1', fa: AnchorDirections.SouthEast})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div style="margin-top: 3px;" class="flowAnchorOverlay" [class.flowAnchorOverlay-dark]="theme.IsDarkMode" [class.flowAnchorOverlay-light]="!theme.IsDarkMode">
                <table>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.NorthWest})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center;">
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.North})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.NorthEast})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.West})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center; font-size: small;">
                      {{'properties.Receiver' | translate}}
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.East})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.SouthWest})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td style="min-width: 40px; width: 100%; text-align: center;">
                      <button mat-icon-button class="anchorBtn" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.South})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button class="anchorBtn" *ngIf="AnchorCount == 8" (click)="selectedElement.AnchorChanged.emit({o: '2', fa: AnchorDirections.SouthEast})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1.1">
                          <circle fill="#d9d9d9" cx="8" cy="8" r="8"/>
                          <line x1="2.5" y1="2.5" x2="13.5" y2="13.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                          <line x1="2.5" y1="13.5" x2="13.5" y2="2.5" style="stroke-width: 2;" [attr.stroke]="GetIconColor(true)"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <button mat-icon-button class="anchorBtn" style="position: absolute; top: -8px; right: -8px; width: 20px; height: 20px;" (click)="flowMenuIsOpen=false" matTooltip="{{'general.Close' | translate}}" matTooltipShowDelay="1000">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1">
                  <circle style="stroke-width: 2;" [attr.stroke]="theme.IsDarkMode ? 'white' : 'black'" [attr.fill]="theme.IsDarkMode ? '#333333' : '#e7e5e5'" cx="9" cy="9" r="8"/>
                  <line x1="3.5" y1="3.5" x2="14.5" y2="14.5" style="stroke-width: 2;" [attr.stroke]="theme.IsDarkMode ? 'white' : 'black'"/>
                  <line x1="3.5" y1="14.5" x2="14.5" y2="3.5" style="stroke-width: 2;" [attr.stroke]="theme.IsDarkMode ? 'white' : 'black'"/>
                </svg>
              </button>
            </div>
          </ng-template>
          <button mat-raised-button (click)="ChangeDataFlowDirection()">{{'properties.DataFlowChangeDirection' | translate}}</button>
        </ng-container>
        <!--Data Flow Diagram Reference-->
        <button class="buttonAsText primary-color" *ngIf="prop.Type == 'Data Flow Diagram Reference' && !prop.Editable" (click)="OnDiagramReference(prop)">{{GetDiagramReference(prop)}}</button>
        <select *ngIf="prop.Type == 'Data Flow Diagram Reference' && prop.Editable" style="width: 100%;" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let diagram of GetAvailableDataFlowDiagrams()" [value]="diagram.ID">{{diagram.Name}}</option>
        </select>
        <!--Diagram Reference-->
        <button class="buttonAsText primary-color" *ngIf="prop.Type == 'Diagram Reference' && !prop.Editable" (click)="OnDiagramReference(prop)">{{GetDiagramReference(prop)}}</button>
        <select *ngIf="prop.Type == 'Diagram Reference' && prop.Editable" style="width: 100%;" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let diagram of GetAvailableDiagrams()" [value]="diagram.ID">{{diagram.Name}}</option>
        </select>
        <!--Element Name-->
        <button class="buttonAsText primary-color" *ngIf="prop.Type == 'Element Name'" (click)="OnElementName(prop)">{{GetElementName(prop)}}</button>
        <!--Flow Type-->
        <select *ngIf="prop.Type == 'Flow Type'" style="width: 100%;" [class.disable]="!prop.Editable" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let pos of GetFlowTypes()" [value]="pos">{{GetFlowTypeName(pos) | translate}}</option>
        </select>
        <!--Interface Element Select-->
        <select *ngIf="prop.Type == 'Interface Element Select'" style="width: 100%;" [ngModel]="GetValue(prop)?.ID" (change)="SetInterface(prop, $event['target']['value'])">
          <!--<option *ngFor="let element of GetAvailableInterfaces(selectedObject)" [value]="element.ID">{{element.Name}}</option>-->
          <option>{{'properties.selectNone' | translate}}</option>
          <optgroup *ngFor="let dev of GetAvailableDevices()" [label]="dev.Name">
            <option *ngFor="let element of GetAvailableInterfaces(dev)" [value]="element.ID">{{element.Name}}</option>
          </optgroup>
        </select>
        <!--Data Select-->
        <ng-container *ngIf="prop.Type == 'Data Select'">
          <mat-select class="matSelect" [disabled]="!prop.Editable" style="width: calc(100% - 22px);" multiple [value]="GetValue(prop)" (selectionChange)="SetValue(prop, $event['value'])">
            <mat-option class="matOption" color="primary" *ngFor="let data of GetMyDatas()" [value]="data">{{data.Name}}</mat-option>
          </mat-select>
          <button mat-icon-button (click)="AddMyData(prop)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000" style="height: 20px; width: 20px; line-height: 20px;">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
        <!--Impact Category-->
        <mat-checkbox *ngIf="prop.Type == 'Impact Category'" color="primary" [checked]="GetImpactCategory(prop)" (change)="SetImpactCategory(prop)"></mat-checkbox>
        <!--Line Type-->
        <select *ngIf="prop.Type == 'Line Type'" style="width: 100%;" [class.disable]="!prop.Editable" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let type of GetLineTypes()" [value]="type">{{GetLineTypeName(type) | translate}}</option>
        </select>
        <!--Low Medium High Select-->
        <select *ngIf="prop.Type == 'Low Medium High Select'" style="width: 100%;" [class.disable]="!prop.Editable" [ngModel]="GetValue(prop)" (change)="SetValue(prop, $event['target']['value'])">
          <option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</option>
        </select>
        <!--Physical Element Select-->
        <select *ngIf="prop.Type == 'Physical Element Select'" style="width: 100%;" [ngModel]="GetValue(prop)?.ID" (change)="SetPhysicalElement(prop, $event['target']['value'])">
          <option *ngFor="let element of GetAvailablePhysicalElements(selectedObject)" [value]="element.ID">{{element.Name}}</option>
        </select>
        <!--Port Box-->
        <input *ngIf="prop.Type == 'Port Box'" type="text" [spellcheck]="dataService.HasSpellCheck" style="width: 100%;" [value]="GetValue(prop)" (input)="SetValue(prop, $event['target']['value'])" [disabled]="!prop.Editable">
        <!--Protocol Select-->
        <mat-select class="matSelect" *ngIf="prop.Type == 'Protocol Select'" style="width: 100%;" multiple [value]="GetValue(prop)" (selectionChange)="SetValue(prop, $event['value'])">
          <mat-option class="matOption" color="primary" *ngFor="let protocol of GetProtocols()" [value]="protocol">{{protocol.Name}}</mat-option>
        </mat-select>
        <!--Open Notes-->
        <button mat-raised-button *ngIf="prop.Type == 'Open Notes'" (click)="OpenNotes()" [matBadge]="NotesBadge()" matBadgeColor="primary" [matBadgeHidden]="NotesBadge().length == 0" matBadgeSize="small" matBadgePosition="below">{{'properties.openNotes' | translate}}</button>
        <!--Open Questionnaire-->
        <button mat-raised-button *ngIf="prop.Type == 'Open Questionnaire'" (click)="OpenQuestionnaire()" [matBadge]="QuestionnaireBadge()" matBadgeColor="primary" [matBadgeHidden]="QuestionnaireBadge().length == 0" matBadgeSize="small" matBadgePosition="below">{{'properties.openQuestionnaire' | translate}}</button>
        <!--Stencil Type-->
        <select *ngIf="prop.Type == 'Stencil Type'" style="width: 100%;" [ngModel]="GetStencilType()" (change)="SetType(prop, $event['target']['value'])">
          <option *ngFor="let type of GetAvailableTypes(selectedObject)" [value]="type.ID">{{type.Name}}</option>
        </select>
        <!--Text Area-->
        <textarea *ngIf="prop.Type == 'Text Area'" type="text" [spellcheck]="dataService.HasSpellCheck" style="width: 100%; font-size: inherit;" [value]="GetValue(prop)" (input)="SetValue(prop, $event['target']['value'])" [disabled]="!prop.Editable"></textarea>
        <!--Text Box-->
        <input *ngIf="prop.Type == 'Text Box'" type="text" [spellcheck]="dataService.HasSpellCheck" style="width: 100%;" [value]="GetValue(prop)" (input)="SetValue(prop, $event['target']['value'])" [disabled]="!prop.Editable">
        <!--Text Box Validator-->
        <input *ngIf="prop.Type == 'Text Box Validator'" type="text" [spellcheck]="dataService.HasSpellCheck" style="width: 100%;" [class.invalid]="GetValidator(prop)" [value]="GetValue(prop)" (input)="SetValue(prop, $event['target']['value'])" [disabled]="!prop.Editable">
      </td>
    </tr>
    <ng-container *ngIf="IsDFDElement()">
      <tr *ngFor="let mnemonic of GetMnemonics()">
        <td>{{mnemonic.Name}}</td>
        <td>
          <span style="margin-right: 5px;" *ngFor="let letter of mnemonic.Letters">
            <button class="buttonAsText" [style.color]="theme.IsDarkMode ? 'white' : 'black'" [class.primary-color]="letter.AffectedElementTypes.includes(selectedElement.Type.ElementTypeID)" style="font-size: small;" (click)="AddMnemonicThreat(letter)" matTooltip="{{GetLetterTooltip(letter)}}" matTooltipShowDelay="1000">{{letter.Letter}}</button>
          </span>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="IsUseCase()">
      <td colspan="2"><button mat-raised-button (click)="CreateUseCaseDiagram()">{{'properties.createDataFlowDiagram' | translate}}</button></td>
    </tr>
  </table>
</div>