@import 'stylesTheme.scss';


button {
  font-size: 11px;
  line-height: 20px;
}


.buttonAsText {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: small;
}

.matSelect {
  background-color: white !important;
  border-radius: 2px;
  height: 17px;
  border: gray 1px solid;
  ::ng-deep .mat-select-arrow {
    color: black !important;
  }

  ::ng-deep .mat-select-value {
    color: black !important;
    font-size: smaller !important;
  }
}

.searchBox {
  background-color: white !important;
  height: 17px;
  color: black;
  border: 0;
  outline: 0;
  padding: 0 8px;
  width: calc(100% - 16px);
}

.searchBox::placeholder {
  color: gray;
}

.matOption {
  background-color: white !important;
  color: black !important;
  height: 20px !important;
  padding: 0 8px !important;
  ::ng-deep .mat-option.mat-active {
    color: black !important;
    background-color: white !important;
  }
  ::ng-deep .mat-pseudo-checkbox {
    color: gray !important;
  }

  ::ng-deep .mat-pseudo-checkbox-checked {
      @extend .primary-background;
    }
}

.invalid {
  border: 1px solid red;
}

.disable {
  pointer-events: none;
}

::ng-deep .mat-tooltip  {
  white-space: pre-line !important;
}

.flowAnchorOverlay {
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0;
}

.flowAnchorOverlay-dark {
  border-color: #fff;
  @extend .bg-color-dark1;
}

.flowAnchorOverlay-light {
  border-color: #fff;
  @extend .bg-color-light1;
}

.iconBtn {
  height: 24px;
  width: 25px;
  min-width: 25px;
  padding: 0px;
  line-height: 20px;
}

.anchorBtn {
  height: 18px;
  width: 18px;
  min-width: 18px;
  padding: 0px;
  line-height: 18px;
}