<h1 mat-dialog-title>{{'dialog.password.title' | translate}}</h1>
<div mat-dialog-content>
  <div *ngIf="data['file']" style="margin-bottom: 10px;">
    {{data['file']}}
  </div>
  <mat-form-field>
    <mat-label>{{'dialog.password.enterpassword' | translate}}</mat-label>
    <input matInput [type]="show ? 'text' : 'password'" [(ngModel)]="data['pw']" (keydown.enter)="dialogRef.close(true)">
    <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close>{{'general.Cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="true">{{'general.OK' | translate}}</button>
</div>
