<div style="width: 100%; height: 100%;">
  <mat-tab-group class="tabGroup" style="height: 100%;" [selectedIndex]="GetSelectedTabIndex()" (selectedIndexChange)="SetSelectedTabIndex($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        {{'pages.modeling.deviceassets.assetview' | translate}}
      </ng-template>

      <ng-template #assetGroupTemplate let-item let-colCnt="colCnt" let-isFirst="isFirst">
        <div [class.disableAsset]="!item.IsActive" [class.highlight-dark]="theme.IsDarkMode && selectedObject == item" [class.highlight-light]="!theme.IsDarkMode && selectedObject == item" (click)="SelectObject($event, item)">
          <div [style.textAlign]="isFirst ? 'center' : 'left'" [style.height]="isFirst ? '40px' : 'auto'" class="draggable" draggable="true" (dragstart)="onDrag($event, item)" (drop)="onDrop($event, item)" (dragover)="onAllowDrop($event)">
            <span [style.fontWeight]="isFirst ? 'bold' : 'normal'">{{item.Name}}</span>
            <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="DeleteGroup(item)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddGroup(item, $event)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
            <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddMyData(item, $event)" matTooltip="{{'general.Data' | translate}}" matTooltipShowDelay="1000"><mat-icon>description</mat-icon></button>
          </div>
          <div>
            <div *ngFor="let data of item.AssociatedData" style="margin-left: 20px;" (click)="SelectObject($event, data)" class="draggable" [class.highlight-dark]="theme.IsDarkMode && selectedObject == data" [class.highlight-light]="!theme.IsDarkMode && selectedObject == data" draggable="true" (dragstart)="onDrag($event, data)">
              <mat-icon>description</mat-icon><span style="vertical-align: super;">{{data.Name}}</span> <button mat-icon-button *ngIf="!hideButtons" class="assetButton" style="vertical-align: super;" (click)="DeleteMyData(data)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
          <div>
            <div class="row">
              <div *ngFor="let col of GetColArray(colCnt); index as i" style="float: left;" [style.width]="(100/colCnt).toString() + '%'">
                <div *ngFor="let group of GetArrayRange(item.SubGroups, i, colCnt)" [class.disableAsset]="!group.IsActive" [style.marginLeft]="isFirst ? '0px' : '20px'" (click)="SelectObject($event, group)" [class.highlight-dark]="theme.IsDarkMode && selectedObject == group" [class.highlight-light]="!theme.IsDarkMode && selectedObject == group">
                  <div class="draggable" draggable="true" (dragstart)="onDrag($event, group)" (drop)="onDrop($event, group)" (dragover)="onAllowDrop($event)">
                    <span>{{group.Name}}</span>
                    <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="DeleteGroup(group)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddGroup(group, $event)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
                    <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddMyData(group, $event)" matTooltip="{{'general.Data' | translate}}" matTooltipShowDelay="1000"><mat-icon>description</mat-icon></button>
                  </div>
                  <div *ngFor="let data of group.AssociatedData" style="margin-left: 20px;" (click)="SelectObject($event, data)" class="draggable" [class.highlight-dark]="theme.IsDarkMode && selectedObject == data" [class.highlight-light]="!theme.IsDarkMode && selectedObject == data" draggable="true" (dragstart)="onDrag($event, data)">
                    <mat-icon>description</mat-icon><span style="vertical-align: super;">{{data.Name}}</span> <button mat-icon-button *ngIf="!hideButtons" class="assetButton" style="vertical-align: super;" (click)="DeleteMyData(data)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
                  </div>
                  <div style="margin-left: 20px;">
                    <div *ngFor="let sub of group.SubGroups" [ngTemplateOutlet]="assetGroupTemplate" [ngTemplateOutletContext]="{$implicit: sub, colCnt: 1}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template matTabContent>
        <div style="margin: 5px; height: calc(100% - 10px); font-size: small;">
          <div style="height: 100px;">
            <svg height="100%" width="100%" viewBox="0 0 100 100"  preserveAspectRatio="none">
              <path d="M50,0 L100,70 L100,100 L0,100 L0,70 Z" [attr.fill]="theme.IsDarkMode ? bgColorDark : bgColorLight"/> 
            </svg>
          </div>
          <div style="min-height: 200px; overflow: hidden; display: flex; margin-top: 5px;">
            <ng-container *ngFor="let col of assetGroupsCols; index as i; first as isFirst; last as isLast">
              <div *ngIf="isFirst" style="display: block; float: left;" [style.min-width]="GetGapWidth()">&nbsp;</div>
              <div class="assetColumn" [class.disableAsset]="!col.IsActive" [style.width]="GetColumnWidth()" [style.backgroundColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
                <div style="margin: 5px;">
                  <ng-container [ngTemplateOutlet]="assetGroupTemplate" [ngTemplateOutletContext]="{$implicit: col, isFirst: true, colCnt: 1}"></ng-container>
                </div>
              </div>
              <div style="float: left; display: flex; justify-content: center; align-items: center;" [style.width]="GetGapWidth()">
                <ng-container *ngIf="!isLast">&nbsp;</ng-container>
                <ng-container *ngIf="isLast"><button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddGroup(assetGroup, $event)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button></ng-container>
              </div>
            </ng-container>
            <div *ngIf="assetGroupsCols.length == 0" style="width: 100%; display: flex; justify-content: center; align-items: center;">
              <button mat-icon-button *ngIf="!hideButtons" class="assetButton" (click)="AddGroup(assetGroup, $event)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
            </div>
          </div>
          <div style="min-height: 100px; overflow: hidden;">
            <div class="assetColumn" style="width: 100%; margin-top: 5px; margin-bottom: 5px;" [style.backgroundColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
              <ng-container *ngIf="assetGroupBase">
                <div style="margin: 5px;">
                  <ng-container [ngTemplateOutlet]="assetGroupTemplate" [ngTemplateOutletContext]="{$implicit: assetGroupBase, isFirst: true, colCnt: 3}"></ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{'pages.modeling.deviceassets.assettree' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <as-split direction="horizontal" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 0)">
          <as-split-area [size]="GetSplitSize(0, 0, 350)" [order]=1 [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
            <app-nav-tree #navTree [activeNode]="selectedNode" (selectedNodeChanged)="selectedNode = $event"></app-nav-tree>
          </as-split-area>
          <as-split-area [size]="GetSplitSize(0, 1, $any('*'))" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
            <app-assets [isProject]="true" [assetGroup]="assetGroup" [selectedNode]="selectedNode" (nodeTreeChanged)="SetNavTreeData($event)"></app-assets>
          </as-split-area>
        </as-split>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{'pages.modeling.deviceassets.datalist' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="row">
          <div class="column1">
            <mat-list class="prop-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
              <div mat-subheader>{{ 'general.Datas' | translate }} 
                <button mat-icon-button (click)="AddMyData(assetGroup, $event)" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button>
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000" style="float: right;"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item [disabled]="assetGroup.GetMyDataFlat().length < 2" (click)="ResetNumbers()">{{'pages.modeling.threattable.resetNumbers' | translate}}</button>
                </mat-menu>
              </div>
              <mat-list-item *ngFor="let data of assetGroup.GetMyDataFlat()" (click)="selectedMyData = data"
              [class.highlight-light]="selectedMyData === data && !theme.IsDarkMode" [class.highlight-dark]="selectedMyData === data && theme.IsDarkMode"
              matTooltip="{{data.Name}}" matTooltipShowDelay="1000">
                <mat-icon mat-list-icon>chevron_right</mat-icon>
                <div mat-line>{{data.GetLongName()}}</div>
                <div mat-line>{{'properties.Sensitivity' | translate}}: {{GetSensitivity(data.Sensitivity) | translate}}</div>
                <button mat-icon-button style="margin-left: auto;" (click)="DeleteMyData(data)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="column2">
            <ng-container *ngIf="assetGroup.GetMyDataFlat().includes(selectedMyData)">
              <div style="margin: 10px;">
                <app-mydata [myData]="selectedMyData" [showAssetGroup]="true"></app-mydata>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{'pages.modeling.deviceassets.referencematrix' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="referenceTable">
          <table>
            <thead>
              <tr>
                <th [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight"></th>
                <th [attr.colspan]="dataService.Project.GetHWDiagrams().length" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">{{'pages.modeling.deviceassets.HWDiagram' | translate}}</th>
                <th style="min-width: 10px;" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight"></th>
                <th [attr.colspan]="dataService.Project.GetDFDiagrams().length" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">{{'pages.modeling.deviceassets.DFDiagram' | translate}}</th>
              </tr>
              <tr>
                <th class="refDiagramColumn" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">{{'pages.modeling.deviceassets.dataDiagrams' | translate}}</th>
                <th *ngFor="let dia of dataService.Project.GetHWDiagrams()" class="refDiagramColumn" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
                  <button class="buttonAsText primary-color" (click)="OpenDiagram(dia)" matTooltip="{{'pages.modeling.deviceassets.OpenDiagram' | translate}}: {{dia.Name}}" matTooltipShowDelay="1000">{{dia.Name}}</button>
                </th>
                <th [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight"></th>
                <th *ngFor="let dia of dataService.Project.GetDFDiagrams()" class="refDiagramColumn" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
                  <button class="buttonAsText primary-color" (click)="OpenDiagram(dia)" matTooltip="{{'pages.modeling.deviceassets.OpenDiagram' | translate}}: {{dia.Name}}" matTooltipShowDelay="1000">{{dia.Name}}</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of assetGroup.GetMyDataFlat()">
                <td [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight"><span [matBadgeHidden]="!GetAssetToolTip(data)" matTooltip="{{GetAssetToolTip(data)}}"  matTooltipShowDelay="1000" matBadge="!" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below" matBadgeOverlap="false">{{data.Name}}</span></td>
                <td *ngFor="let dia of dataService.Project.GetHWDiagrams()" class="refDiagramColumn" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
                  <ng-container *ngFor="let ref of GetReferences(data, dia)">
                    <button class="buttonAsText primary-color" style="font-size: small;" (click)="OpenElement(dia, ref)" matTooltip="{{'pages.modeling.deviceassets.OpenElement' | translate}}: {{ref.Name}}" matTooltipShowDelay="1000">{{ref.Name}}</button>
                    <br/>
                  </ng-container>
                </td>
                <td [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight"></td>
                <td *ngFor="let dia of dataService.Project.GetDFDiagrams()" class="refDiagramColumn" [style.borderColor]="theme.IsDarkMode ? bgColorDark : bgColorLight">
                  <ng-container *ngFor="let ref of GetReferences(data, dia)">
                    <button class="buttonAsText primary-color" style="font-size: small;" (click)="OpenElement(dia, ref)" matTooltip="{{'pages.modeling.deviceassets.OpenElement' | translate}}: {{ref.Name}}" matTooltipShowDelay="1000">{{ref.Name}}</button>
                    <br/>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>