@import 'stylesTheme.scss';
@import 'stylesPropList.scss';

.tabGroup {
  ::ng-deep .mat-tab-header .mat-tab-labels .mat-tab-label {
    height: 25px;
  }

  ::ng-deep .mat-tab-labels .mat-tab-label {
    min-width: 120px;
  }
}

.disable {
  pointer-events: none;
}

.disableAsset {
  opacity: 0.5;
}

.assetColumn {
  display: block; 
  float: left; 
}

.assetButton {
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 20px;
  .mat-icon {
    opacity: 0.4;
  }
}

.referenceTable {
  margin: 10px;
  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
}

.refDiagramColumn {
  max-width: 150px;
}

.buttonAsText {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.highlight-light { 
  background-color: rgba(0,0,0,0.1); 
  .mat-icon {
    opacity: 1 !important;
  }
}
.highlight-dark { 
  background-color: rgba(255,255,255,0.1); 
  .mat-icon {
    opacity: 1 !important;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}