<h2 mat-dialog-title>{{'dialog.passswordprotection.title' | translate}}</h2>
<mat-dialog-content>
  <div style="margin-bottom: 15px;">
    <mat-icon style="vertical-align: bottom;">{{IsEncrypted ? 'lock' : 'lock_open_right'}}</mat-icon> 
    <ng-container *ngIf="IsEncrypted">{{'status-bar.passwordProtectionOn' | translate}}</ng-container>
    <ng-container *ngIf="!IsEncrypted">{{'status-bar.passwordProtectionOff' | translate}}</ng-container>
  </div>

  <div *ngIf="IsEncrypted">
    <mat-checkbox [(ngModel)]="RemovePassword" color="primary" style="padding-bottom: 10px;">{{'dialog.save.removePW' | translate}}</mat-checkbox>
    <br/>
    <mat-form-field class="field-width">
      <mat-label>{{'dialog.passswordprotection.NewPasword' | translate}}</mat-label>
      <input matInput class="field-width" [disabled]="RemovePassword" [type]="ShowChangePassword ? 'text' : 'password'" [(ngModel)]="ChangePassword">
      <mat-icon matSuffix (click)="ShowChangePassword = !ShowChangePassword">{{ShowChangePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-icon matSuffix matTooltip="{{'dialog.save.security' | translate}}">privacy_tip</mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="!IsEncrypted">
    <mat-form-field class="field-width">
      <mat-label>{{'dialog.save.addPW' | translate}}</mat-label>
      <input matInput class="field-width" [type]="ShowNewPassword ? 'text' : 'password'" [(ngModel)]="NewPassword">
      <mat-icon matSuffix (click)="ShowNewPassword = !ShowNewPassword">{{ShowNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-icon matSuffix matTooltip="{{'dialog.save.security' | translate}}">privacy_tip</mat-icon>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!HasChanges" (click)="Change()">{{'dialog.passswordprotection.Change' | translate}}</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="true">{{'general.Close' | translate}}</button>
</mat-dialog-actions>