<div style="overflow: auto;">
  <div class="tools">
    <button mat-button class="toolBtn" (click)="RefreshThreats()" matTooltip="{{'general.Refresh' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button class="toolBtn" [class.toolBtn-Selected]="autoRefreshThreats" (click)="autoRefreshThreats = !autoRefreshThreats" matTooltip="{{'pages.modeling.threattable.autoRefresh' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>autorenew</mat-icon>
    </button>
    <input matInput class="filterInput" (keyup)="ApplyFilter($event)" placeholder="{{'pages.modeling.search' | translate}}" [class.bg-color-light2]="!theme.IsDarkMode" [class.bg-color-dark2]="theme.IsDarkMode" [style.color]="theme.IsDarkMode ? 'white' : 'black'"/>
    <mat-progress-spinner *ngIf="refreshingThreats" style="display: inline; vertical-align: super; margin-left: 5px;" [diameter]="20" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div>
    <!-- First table for active threats -->
    <table mat-table style="width: 100%;" matSort [dataSource]="dataSourceActive" matSortActive="state" matSortDirection="asc" matSortDisableClear [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 34px;"> </th>
        <td mat-cell *matCellDef="let entry"> <mat-icon>{{GetStateIcon(entry)}}</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Number' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.Number}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Name' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let entry"> <mat-icon [matBadge]="'!'" matBadgeColor="warn" [matBadgeHidden]="entry.RuleStillApplies" matBadgeSize="small" matBadgePosition="below" matTooltip="{{GetCreationTypeIconTooltip(entry) | translate}}">{{GetCreationTypeIcon(entry)}}</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="vector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.AttackVector' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.AttackVector?.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.ThreatCategories' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetThreatCategories(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Target' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.Target?.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Rule' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> <ng-container *ngIf="entry.ThreatRule">{{entry.ThreatRule.GetProperty('Name')}}</ng-container></td>
      </ng-container>
      <ng-container matColumnDef="elements">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Elements' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetTargets(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="countermeasures">
        <th mat-header-cell *matHeaderCellDef> {{'general.Countermeasures' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetCountermeasures(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'properties.Status' | translate}} </th>
        <td mat-cell *matCellDef="let entry">
          <select [(ngModel)]="entry.ThreatState" style="width: 140px;">
            <option *ngFor="let state of GetThreatStates()" [value]="state" >{{GetThreatStateName(state) | translate}}</option>
          </select>
        </td>
      </ng-container>
  
      <tr mat-header-row style="height: 30px;" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-threat]="IsThreatSelected(row)" [class.removed-threat]="IsThreatRemoved(row) || IsThreatNotApplying(row)" 
        (click)="SelectThreat(row)" (dblclick)="OnMappingDblClick(row, $event)" (contextmenu)="OpenContextMenu($event, row)">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9" (contextmenu)="OpenContextMenu($event, null)">{{'pages.modeling.threattable.noThreats' | translate}}</td>
      </tr>
    </table>

    <!-- Second table for not applicable threats -->
    <table mat-table style="width: 100%;" matSort [dataSource]="dataSourceNA" matSortActive="state" matSortDirection="asc" matSortDisableClear [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 34px;"> </th>
        <td mat-cell *matCellDef="let entry"> <mat-icon>{{GetStateIcon(entry)}}</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Number' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.Number}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Name' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let entry"> <mat-icon [matBadge]="'!'" matBadgeColor="warn" [matBadgeHidden]="entry.RuleStillApplies" matBadgeSize="small" matBadgePosition="below" matTooltip="{{GetCreationTypeIconTooltip(entry) | translate}}">{{GetCreationTypeIcon(entry)}}</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="vector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.AttackVector' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.AttackVector?.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.ThreatCategories' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetThreatCategories(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Target' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{entry.Target?.GetProperty('Name')}} </td>
      </ng-container>
      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Rule' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> <ng-container *ngIf="entry.ThreatRule">{{entry.ThreatRule.GetProperty('Name')}}</ng-container></td>
      </ng-container>
      <ng-container matColumnDef="elements">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Elements' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetTargets(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="countermeasures">
        <th mat-header-cell *matHeaderCellDef> {{'general.Countermeasures' | translate}} </th>
        <td mat-cell *matCellDef="let entry"> {{GetCountermeasures(entry)}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'properties.Status' | translate}} </th>
        <td mat-cell *matCellDef="let entry">
          <select [(ngModel)]="entry.ThreatState" style="width: 140px;">
            <option *ngFor="let state of GetThreatStates()" [value]="state" >{{GetThreatStateName(state) | translate}}</option>
          </select>
        </td>
      </ng-container>
  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-threat]="IsThreatSelected(row)" [class.removed-threat]="IsThreatRemoved(row) || IsThreatNotApplying(row)" 
        (click)="SelectThreat(row)" (dblclick)="OnMappingDblClick(row, $event)" (contextmenu)="OpenContextMenu($event, row)">
      </tr>
    </table>
  </div>
  <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div> 
  <mat-menu #rightMenu="matMenu"> 
    <ng-template matMenuContent let-item="item">
      <span *ngIf="item" style="margin-left: 20px; margin-right: 20px;">{{item.GetProperty('Name')}}</span> 
      <span *ngIf="!item" style="margin-left: 20px; margin-right: 20px;">{{'pages.modeling.threattable.noEntrySelected' | translate}}</span>
      <button mat-menu-item [disabled]="!item" (click)="OnMappingDblClick(item, null)">
        <mat-icon>preview</mat-icon>
        <span>{{'pages.modeling.threattable.viewEntry' | translate}}</span>
      </button> 
      <button mat-menu-item [disabled]="!item" [matMenuTriggerFor]="addMenu">
        <mat-icon>security</mat-icon>
        <span>{{'pages.modeling.diagram.addCountermeasure' | translate}}</span>
      </button>
      <mat-menu #addMenu="matMenu">
        <button mat-menu-item (click)="AddCountermeasure(item)">{{'general.New' | translate}}</button>
        <button mat-menu-item [matMenuTriggerFor]="existing">{{'general.Existing' | translate}}</button>
      </mat-menu>
      <mat-menu #existing="matMenu">
        <button mat-menu-item *ngFor="let mit of GetPossibleCountermeasures(item)" (click)="AddExistingCountermeasure(item, mit)" matTooltip="{{mit.Name}}" matTooltipShowDelay="1000">{{mit.Name}}</button>
      </mat-menu> 
      <button mat-menu-item [disabled]="!item" (click)="OnViewCountermeasures(item)">
        <mat-icon>preview</mat-icon>
        <span>{{'pages.modeling.threattable.viewCountermeasures' | translate}}</span>
      </button> 
      <button mat-menu-item [disabled]="!item" (click)="OnDeleteMapping(item)">
        <mat-icon>delete</mat-icon>
        <span>{{'pages.modeling.threattable.deleteEntry' | translate}}</span>
      </button>
      <button mat-menu-item (click)="ResetNumbers()">
        <mat-icon>delete</mat-icon>
        <span>{{'pages.modeling.threattable.resetNumbers' | translate}}</span>
      </button>
    </ng-template> 
  </mat-menu> 
</div>