<div style="width: 100%; height: 100%;">
  <div class="tools mat-elevation-z8" [class.bg-color-light2]="!theme.IsDarkMode" [class.bg-color-dark2]="theme.IsDarkMode">
    <button mat-button class="toolBtn" [disabled]="!selectedComponent" (click)="AddThreat(selectedComponent)" matTooltip="{{'pages.modeling.diagram.addAttackScenario' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>flash_on</mat-icon>
    </button>
    <button mat-button class="toolBtn" [disabled]="!selectedComponent" (click)="ShowCVESearch()" matTooltip="{{'pages.modeling.diagram.CveSearch' | translate}}" matTooltipShowDelay="1000">
      <style>
        .heavy {
          font: bold 10px sans-serif;
        }
      </style>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" version="1.1">
        <rect [attr.fill]="selectedComponent ? (theme.IsDarkMode ? '#FFF' : '#000') : (theme.IsDarkMode ? '#676767' : '#B6B6B6')" x="1" y="1" width="23" height="23" rx="3" ry="3"/>
        <text [attr.fill]="theme.IsDarkMode ? '#000' : '#FFF'" x="2" y="16" class="heavy">CVE</text>
      </svg>
    </button>
    <button mat-button class="toolBtn" *ngIf="dataService.Project.HasTesting" [disabled]="!selectedComponent" (click)="AddTestCase(selectedComponent)" matTooltip="{{'pages.modeling.diagram.addTestCase' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>checklist</mat-icon>
    </button>
    <button mat-button class="toolBtn" [disabled]="!selectedComponent" (click)="AddCountermeasure(selectedComponent)" matTooltip="{{'pages.modeling.diagram.addCountermeasure' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>security</mat-icon>
    </button>
  </div>
  <table (dragover)="AllowDrop($event)" style="border-spacing: 0 20px;">
    <tbody>
      <tr *ngFor="let group of GetGroups(); let index = index" (drop)="OnDrop($event, group)">
        <td><p class="group">{{group.Name}}</p></td>
        <td>
          <button *ngFor="let comp of GetComponents(group)" class="component" [class.component-dark]="theme.IsDarkMode" [class.component-third-party]="comp.IsThirdParty"
            [style.opacity]="comp.IsActive ? 1 : 0.5" [style.border-color]="GetComponentColor(comp)" (click)="OnComponentClick(comp)" (dblclick)="OnComponentDblClick(comp)"
            (contextmenu)="OpenContextMenu($event, comp)" [matBadge]="CompBadge(comp)" matBadgeColor="primary" [matBadgeHidden]="CompBadge(comp).length == 0" matBadgePosition="below">
            {{comp.Name}}
          </button>
          <button *ngIf="GetComponents(group) == null || GetComponents(group).length == 0" style="visibility: hidden;" class="component">Temp</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div> 
  <mat-menu #rightMenu="matMenu"> 
    <ng-template matMenuContent let-item="item">
      <ng-container *ngIf="item">
        <span *ngIf="item" style="margin-left: 20px; margin-right: 20px;">{{item.GetProperty('Name')}}</span> 
        <button mat-menu-item (click)="OnComponentDblClick(item)">
          <mat-icon>question_answer</mat-icon>
          <span>{{'properties.openQuestionnaire' | translate}}</span>
        </button>
        <button mat-menu-item (click)="OnDeleteElement(item)">
          <mat-icon>delete</mat-icon>
          <span>{{'pages.modeling.stack.deleteComponent' | translate}}</span>
        </button>
        <button mat-menu-item (click)="AddThreat(item)">
          <mat-icon>flash_on</mat-icon>
          <span>{{'pages.modeling.diagram.addAttackScenario' | translate}}</span>
        </button>
        <button mat-menu-item (click)="AddCountermeasure(item)">
          <mat-icon>security</mat-icon>
          <span>{{'pages.modeling.diagram.addCountermeasure' | translate}}</span>
        </button>
      </ng-container>
    </ng-template> 
  </mat-menu> 
</div>