.column1 {
  float: left;
  width: 30px;
}
.column2 {
  float: left;
  width: calc(100% - 70px);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.group {
  transform-origin: center; 
  transform: rotate(-90deg); 
  text-align: center; 
  margin: 0px; 
  // width: 40px;
  font-weight: bold;
  font-size: smaller;
  max-width: 100px;
}

.component-base {
  background: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.component {
  @extend .component-base;
  font-size: large;
  height: 75px;
  min-width: 130px;
  border-radius: 10px;
}

.component-dark {
  border-color: white;
  color: white;
}

.component-third-party {
  background-color: rgba(255, 255, 255, 0.1);
}

.component-port {
  position: absolute; 
  left: 4px; 
  bottom: 4px; 
  border: 2px solid; 
  padding: 0 2px;
}

.component-legend {
  font-size: small;
  height: 25px;
  min-width: 60px;
  border-radius: 5px;
}

.tools {
  display: block;
  float: left;
  height: 27px;
  width: 100%;
}

.toolBtn {
  width: 30px;
  min-width: 30px;
  padding: 0px;
  line-height: 25px;
  margin-left: 5px;
}

.toolBtn-Selected {
  background-color: rgba($color: #fff, $alpha: 0.15);
}