<h2 mat-dialog-title>{{ dataService.Project ? (dataService.Project.Name) : (dataService.SelectedGHConfig ? dataService.SelectedGHConfig.name : dataService.Config?.Name) }}</h2>
<mat-dialog-content>
  <div *ngIf="dataService.Project">
    <mat-tab-group dynamicHeight [selectedIndex]="1" (selectedTabChange)="UpdateChanges()">
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'dialog.modelinfo.title' | translate }}
        </ng-template>
        <ng-template matTabContent>
          <app-model-info></app-model-info>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'dialog.fileinfo.Changes' | translate }}
        </ng-template>
        <ng-template matTabContent>
          <ng-container *ngIf="!dataService.Project.FileChanged">
            <p>{{ 'dialog.fileinfo.noChanges' | translate }}</p>
          </ng-container>
          <ng-container *ngIf="dataService.Project.FileChanged">
            <p>{{ 'dialog.fileinfo.incompleteList' | translate }}:</p>
            <ul>
              <li *ngFor="let e of Changes">{{ e }}</li>
            </ul>
          </ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="!dataService.Project">

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial [mat-dialog-close]="true">{{'general.Close' | translate}}</button>
</mat-dialog-actions>