<div style="margin: 10px;">
  <div class="row">
    <div class="column1">
      <mat-list class="prop-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <mat-list-item *ngFor="let arr of arrays" (click)="selectedArray = arr"
        [class.highlight-light]="selectedArray === arr && !theme.IsDarkMode" [class.highlight-dark]="selectedArray === arr && theme.IsDarkMode">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          <div mat-line>{{GetArrayName(arr) | translate}}</div>
          <div mat-line *ngIf="arr?.length == 0">{{'pages.modeling.objimpact.notDefined' | translate}}</div>
          <div mat-line *ngIf="arr?.length > 0">{{'general.Notes' | translate}}: {{arr.length}}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <ng-container *ngIf="selectedArray">
        <div style="margin-left: 10px;">
          <mat-accordion class="expansion-panel-headers-align">
            <mat-expansion-panel style="margin-top: 10px;" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'general.HowTo' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{GetArrayName(selectedArray) | translate}}
                  <mat-icon>info</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <ng-container *ngIf="selectedArray === objImpact.DeviceGoals">
                Define the device goals, e.g.
                <ul>
                  <li>high confidentiality,</li>
                  <li>high privacy assurance,</li>
                  <li>safety,</li>
                  <li>usability,</li>
                  <li>energy efficiency,</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="selectedArray === objImpact.BusinessGoals">
                Define the business and brand goals, e.g.
                <ul>
                  <li>products known for its high security,</li>
                  <li>good customer service,</li>
                  <li>global leader,</li>
                  <li>unique selling point,</li>
                  <li>high profits</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="selectedArray === objImpact.BusinessImpact">
                Identify the potential business impact
                <ul>
                  <li>Gather examples of security incidents (of competitors)</li>
                  <li>Identify worst case scenarios. Examples: human injured, production stopped, sensitive data leaked</li>
                  <li>Analyse the business impact of incidents. Examples: fines, litigation costs, post-breach audit costs, development efforts for further security controls, costs for downtime, loss of accreditation, IP loss</li>
                </ul>
              </ng-container>
            </mat-expansion-panel>
          </mat-accordion>
          <div cdkDropList class="reorder-list" (cdkDropListDropped)="drop($event, selectedArray)">
            <div class="reorder-box" [style.color]="theme.IsDarkMode ? 'white' : 'black'" *ngFor="let item of selectedArray; index as index" cdkDrag>
              <ng-container *ngIf="!isEdtingArray[index]">
                <mat-icon>chevron_right</mat-icon> {{item}}
                <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="isEdtingArray[index] = true" matTooltip="{{'general.Edit' | translate}}" matTooltipShowDelay="1000">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="OnDeleteItem(item, selectedArray)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
              <input *ngIf="isEdtingArray[index]" [spellcheck]="dataService.HasSpellCheck" id="renameBox" type="text" style="width: -webkit-fill-available;" [ngModel]="item" (keydown)="OnRenameItem($event, selectedArray, index)" autofocus (focusout)="OnRenameItem($event, selectedArray, index)" onfocus="this.select();"/>
            </div>
          </div>
          <div style="padding: 5px 10px;">
            <mat-icon>chevron_right</mat-icon><input matInput [spellcheck]="dataService.HasSpellCheck" style="width: calc(100% - 24px); vertical-align: super; font-size: 14px;" (keydown)="OnListKeyDown($event, selectedArray)" placeholder="{{'pages.modeling.charscope.addDescription' | translate}}"/>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 10px;">
      <mat-label>{{ 'general.Notes' | translate }}</mat-label>
      <textarea matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="objImpact.Description"></textarea>
    </mat-form-field>
  </div>
</div>