<div *ngIf="attackScenario" [class.disable]="!canEdit">
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{ 'properties.Name' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.Name" matTooltip="{{attackScenario.Name}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="property-form-field" style="margin-left: 10px;">
    <mat-label>{{'properties.Status' | translate}}</mat-label>
    <mat-select [(value)]="attackScenario.ThreatState" matTooltip="{{GetThreatStateName(attackScenario.ThreatState) | translate}}" matTooltipShowDelay="1000">
      <mat-option *ngFor="let state of GetThreatStates()" [value]="state">{{GetThreatStateName(state) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon color="warn" *ngIf="!attackScenario.RuleStillApplies" style="margin-left: 5px;" matTooltip="{{'pages.modeling.attackscenario.ruleNotApplyingAnymore' | translate}}">sync_problem</mat-icon>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'general.Threat' | translate}}</mat-label>
    <mat-select [(value)]="attackScenario.ThreatOrigin" matTooltip="{{attackScenario.ThreatOrigin?.Name}}" matTooltipShowDelay="1000">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-optgroup *ngFor="let group of GetThreatOriginGroups()" [label]="group.Name">
        <mat-option *ngFor="let threat of group.ThreatOrigins" [value]="threat">
          {{threat.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button style="vertical-align: super;" (click)="AddThreatOrigin()">
    <mat-icon>add</mat-icon>
  </button>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field disable">
    <mat-label>{{ 'general.Target' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="attackScenario.Target?.Name" matTooltip="{{attackScenario.Target?.GetProperty('Name')}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="disable" style="margin-left: 10px; width: calc(100% - 300px - 10px)">
    <mat-label>{{ 'general.Targets' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="GetTargetsNames()"/>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{'general.ThreatCategories' | translate}}</mat-label>
      <mat-select [(value)]="attackScenario.ThreatCategories" multiple>
        <mat-optgroup *ngFor="let group of GetThreatCategoryGroups()" [label]="group.Name">
          <mat-option *ngFor="let cat of group.ThreatCategories" [value]="cat" matTooltip="{{cat.Description}}" matTooltipShowDelay="1000">
            {{cat.Name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{'general.SystemThreats' | translate}}</mat-label>
      <mat-select [(value)]="attackScenario.SystemThreats" multiple>
        <mat-optgroup *ngFor="let group of GetSystemThreatGroups()" label="{{group.name | translate}}">
          <mat-option *ngFor="let threat of group.SystemThreats" [value]="threat" matTooltip="{{threat.Description}}" matTooltipShowDelay="1000">
            {{threat.Name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 150px;">
    <mat-label>{{ 'properties.Severity' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Severity" (selectionChange)="CalculateRisk()">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 150px; margin-left: 10px;">
    <mat-label>{{ 'general.Likelihood' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Likelihood" (selectionChange)="CalculateRisk()">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 150px; margin-left: 10px;">
    <mat-label>{{ 'properties.Risk' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Risk">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 150px; margin-left: 10px;">
    <mat-label>{{ 'properties.RiskStrategy' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.RiskStrategy">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetRiskStrategies()" [value]="type">{{GetRiskStrategyName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.RiskStrategyReason' | translate }}</mat-label>
    <textarea matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.RiskStrategyReason"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.Description' | translate }}</mat-label>
    <textarea matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.Description"></textarea>
  </mat-form-field>
  <mat-accordion class="expansion-panel-headers-align" style="pointer-events: initial;">
    <mat-expansion-panel *ngIf="attackScenario.ThreatOrigin">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.ThreatInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.ThreatOrigin.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-threat-origin [canEdit]="false" [threatOrigin]="attackScenario.ThreatOrigin"></app-threat-origin>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="attackScenario.ThreatQuestion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.Question' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.ThreatQuestion.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-threat-question [canEdit]="false" [threatQuestion]="attackScenario.ThreatQuestion"></app-threat-question>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="attackScenario.ThreatRule">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.Rule' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.ThreatRule.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-threat-rule [canEdit]="false" [threatRule]="attackScenario.ThreatRule"></app-threat-rule>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let map of countermeasures">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.Countermeasure' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{map.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-countermeasure [canEdit]="false" [countermeasure]="map"></app-countermeasure>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</div>