<div *ngIf="attackScenario" [class.disable]="!canEdit">
  <mat-form-field appearance="fill" style="width: calc(100% - 85px)">
    <mat-label>{{ 'properties.Name' | translate }}</mat-label>
    <input #nameBox matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.Name" matTooltip="{{attackScenario.Name}}" matTooltipShowDelay="1000"/>
    <button *ngIf="attackScenario.Name" matSuffix mat-icon-button (click)="attackScenario.Name=''" matTooltip="{{'general.Clear' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 70px; float: right;">
    <mat-label>{{ 'general.Number' | translate }}</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="attackScenario.Number" required matTooltip="{{attackScenario.Number}}" matTooltipShowDelay="1000"/>
    <mat-hint *ngIf="attackScenario.CheckUniqueNumber()" style="color: red;" class="alert alert-danger">
      {{'messages.error.numberAlreadyExists' | translate}}
    </mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'properties.Status' | translate}}</mat-label>
    <mat-select [(value)]="attackScenario.ThreatState" matTooltip="{{GetThreatStateName(attackScenario.ThreatState) | translate}}" matTooltipShowDelay="1000">
      <mat-option *ngFor="let state of GetThreatStates()" [value]="state">{{GetThreatStateName(state) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon color="warn" *ngIf="!attackScenario.RuleStillApplies" style="margin-left: 5px;" matTooltip="{{'pages.modeling.attackscenario.ruleNotApplyingAnymore' | translate}}">sync_problem</mat-icon>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field disable">
    <mat-label>{{ 'general.Target' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="attackScenario.Target?.Name" matTooltip="{{attackScenario.Target?.GetProperty('Name')}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="disable" style="margin-left: 10px; width: calc(100% - 600px - 30px)">
    <mat-label>{{ 'general.Targets' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="GetTargetsNames()"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="property-form-field disable" style="margin-left: 10px;">
    <mat-label>{{ 'general.Diagram' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="attackScenario.GetDiagram()?.Name" matTooltip="{{attackScenario.GetDiagram()?.Name}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'general.AttackVector' | translate}} ({{'general.Informative' | translate}})</mat-label>
    <mat-select no-space [(value)]="attackScenario.AttackVector" matTooltip="{{attackScenario.AttackVector?.Name}}" matTooltipShowDelay="1000">
      <input matInput class="searchBox" (keyup)="OnSearchAttackVectors($event)" placeholder="{{ 'general.Search' | translate }}"/>
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-optgroup *ngFor="let group of GetAttackVectorGroups()" [label]="group.name">
        <mat-option *ngFor="let threat of group.AttackVectors" [value]="threat">
          {{threat.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <button mat-icon-button matSuffix style="width: 25px;" (click)="AddAttackVector(); $event.stopPropagation()" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin-left: 10px; width: calc(100% - 300px - 15px);">
    <mat-label>{{'general.ThreatCategories' | translate}}*</mat-label>
    <mat-select no-space [(value)]="attackScenario.ThreatCategories" multiple (selectionChange)="sysThreatGroups = null">
      <input matInput class="searchBox" (keyup)="OnSearchThreatCategories($event)" placeholder="{{ 'general.Search' | translate }}"/>
      <mat-optgroup *ngFor="let group of GetThreatCategoryGroups()" [label]="group.name">
        <mat-option *ngFor="let cat of group.ThreatCategories" [value]="cat" matTooltip="{{cat.Description}}" matTooltipShowDelay="1000">
          {{cat.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: calc(100% - {{GetSystemThreatsWidth()}});" >
    <mat-label>{{'general.SystemThreats' | translate}}</mat-label>
    <mat-select no-space [(value)]="attackScenario.SystemThreats" multiple>
      <input matInput class="searchBox" (keyup)="OnSearchSystemThreat($event)" placeholder="{{ 'general.Search' | translate }}"/>
      <mat-optgroup *ngFor="let group of GetSystemThreatGroups()" label="{{group.name | translate}}">
        <mat-option *ngFor="let threat of group.SystemThreats" [value]="threat" matTooltip="{{threat.Description}}" matTooltipShowDelay="1000">
          {{threat.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="dataService.Project.Settings.ThreatActorToAttackScenario" appearance="fill" style="margin-left: 10px; width: 300px;">
    <mat-label>{{'general.ThreatSources' | translate}}</mat-label>
    <mat-select no-space [(value)]="attackScenario.ThreatSources" multiple>
      <input matInput #srcSearch class="searchBox" (keyup)="OnSearchThreatSources($event)" placeholder="{{ 'general.Search' | translate }}"/>
      <mat-checkbox *ngIf="srcSearch.value.length == 0" class="mat-option" color="primary" [checked]="ThreatSourcesAll()" [indeterminate]="ThreatSourcesSome()" (change)="ThreatSourcesUpdate($event.checked)">{{ThreatSourcesLabel() | translate}}</mat-checkbox>
      <mat-option *ngFor="let actor of GetThreatSources()" [value]="actor" matTooltip="{{'general.Likelihood' | translate}}: {{GetLMHName(actor.Likelihood) | translate}}" matTooltipShowDelay="1000">
        {{actor.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.Description' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.Description"></textarea>
  </mat-form-field>
  <app-tags [tagableElement]="attackScenario"></app-tags>
  {{'general.RiskAssessment' | translate}} 
  <button mat-icon-button [matMenuTriggerFor]="raMenu" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #raMenu="matMenu">
    <button mat-menu-item [disabled]="attackScenario.ScoreCVSS != null" (click)="AddMethodCVSS()">{{'pages.modeling.attackscenario.addCVSS' | translate}}</button>
    <button mat-menu-item [disabled]="attackScenario.ScoreOwaspRR != null" (click)="AddMethodOwaspRR()">{{'pages.modeling.attackscenario.addOwaspRR' | translate}}</button>
    <button mat-menu-item [matMenuTriggerFor]="viewList">{{'pages.modeling.attackscenario.takeRiskValuesFrom' | translate}}</button>
  </mat-menu>
  <mat-menu #viewList="matMenu">
    <input mat-menu-item #searchASBox [(ngModel)]="searchASString" [matMenuTriggerFor]="filteredScenarioList" (click)="OnSearchASBoxClick()" placeholder="{{ 'general.Search' | translate }}"/>
    <button mat-menu-item *ngFor="let group of GetAttackScenarioGroups()" [matMenuTriggerFor]="scenarioList" [matMenuTriggerData]="{ item: group.scenarios }">{{group.name}}</button>
  </mat-menu>
  <mat-menu #scenarioList="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item *ngFor="let scenario of item" matTooltip="{{scenario.Name}}" matTooltipShowDelay="1000" (click)="AdoptRiskValuesFrom(scenario)">{{scenario.Name}}</button>
    </ng-template> 
  </mat-menu>
  <mat-menu #filteredScenarioList="matMenu">
    <button mat-menu-item *ngFor="let ascen of GetFilteredAttackScenarios()" matTooltip="{{ascen.Name}}" matTooltipShowDelay="1000" (click)="AdoptRiskValuesFrom(ascen)">{{ascen.Name}}</button>
  </mat-menu>
  <mat-form-field appearance="fill" *ngIf="attackScenario.ScoreCVSS" style="width: 200px; margin-left: 10px;">
    <mat-label>{{'shared.cvss.name.s' | translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="attackScenario.ScoreCVSS['Score']"/>
    <button matSuffix mat-icon-button aria-label="Edit" (click)="EditMethodCVSS(); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
    </button>
    <button matSuffix mat-icon-button aria-label="Delete" (click)="RemoveMethodCVSS(); $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="attackScenario.ScoreOwaspRR" style="width: 200px; margin-left: 10px;">
    <mat-label>{{'shared.owasprr.name.s' | translate}}</mat-label>
    <mat-select [(value)]="attackScenario.ScoreOwaspRR['Score']">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</mat-option>
    </mat-select>
    <button matSuffix mat-icon-button aria-label="Edit" (click)="EditMethodOwaspRR(); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
    </button>
    <button matSuffix mat-icon-button aria-label="Delete" (click)="RemoveMethodOwaspRR(); $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 190px; margin-left: 30px;">
    <mat-label>{{ 'properties.Severity' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Severity" (selectionChange)="attackScenario.CalculateRisk()">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</mat-option>
    </mat-select>
    <button matSuffix mat-icon-button *ngIf="attackScenario.SeverityReason == null" (click)="attackScenario.SeverityReason = ''; $event.stopPropagation()">
      <mat-icon>edit_note</mat-icon>
    </button>
    <button matSuffix mat-icon-button *ngIf="attackScenario.SeverityReason != null" (click)="attackScenario.SeverityReason = null; $event.stopPropagation()">
      <mat-icon>playlist_remove</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 190px; margin-left: 10px;">
    <mat-label>{{ 'general.Likelihood' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Likelihood" (selectionChange)="attackScenario.CalculateRisk()">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</mat-option>
    </mat-select>
    <button matSuffix mat-icon-button *ngIf="attackScenario.LikelihoodReason == null" (click)="attackScenario.LikelihoodReason = ''; $event.stopPropagation()">
      <mat-icon>edit_note</mat-icon>
    </button>
    <button matSuffix mat-icon-button *ngIf="attackScenario.LikelihoodReason != null" (click)="attackScenario.LikelihoodReason = null; $event.stopPropagation()">
      <mat-icon>playlist_remove</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 190px; margin-left: 10px;">
    <mat-label>{{ 'properties.Risk' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.Risk">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</mat-option>
    </mat-select>
    <button matSuffix mat-icon-button *ngIf="attackScenario.RiskReason == null" (click)="attackScenario.RiskReason = ''; $event.stopPropagation()">
      <mat-icon>edit_note</mat-icon>
    </button>
    <button matSuffix mat-icon-button *ngIf="attackScenario.RiskReason != null" (click)="attackScenario.RiskReason = null; $event.stopPropagation()">
      <mat-icon>playlist_remove</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 190px; margin-left: 10px;">
    <mat-label>{{ 'properties.RiskStrategy' | translate }}</mat-label>
    <mat-select [(value)]="attackScenario.RiskStrategy">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let type of GetRiskStrategies()" [value]="type">{{GetRiskStrategyName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;" *ngIf="attackScenario.SeverityReason != null">
    <mat-label>{{ 'properties.SeverityReason' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.SeverityReason"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;" *ngIf="attackScenario.LikelihoodReason != null">
    <mat-label>{{ 'properties.LikelihoodReason' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.LikelihoodReason"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;" *ngIf="attackScenario.RiskReason != null">
    <mat-label>{{ 'properties.RiskReason' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.RiskReason"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.RiskStrategyReason' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="attackScenario.RiskStrategyReason"></textarea>
  </mat-form-field>
  <div class="row" style="margin-bottom: 10px;">
    <div class="column1">
      <mat-list class="prop-list reorder-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <div mat-subheader>{{ 'general.Countermeasures' | translate }} 
          <button mat-icon-button style="margin-left: 15px;" [matMenuTriggerFor]="addMenu" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
          <mat-menu #addMenu="matMenu">
            <button mat-menu-item (click)="AddCountermeasure()">{{'general.New' | translate}}</button>
            <button mat-menu-item [matMenuTriggerFor]="existingMenu">{{'general.Existing' | translate}}</button>
          </mat-menu>
          <mat-menu #existingMenu="matMenu">
            <input mat-menu-item #searchCMBox [(ngModel)]="searchCMString" [matMenuTriggerFor]="filteredCountermeasureList" (click)="OnSearchCMBoxClick()" placeholder="{{ 'general.Search' | translate }}"/>
            <button mat-menu-item *ngFor="let group of GetCountermeasureGroups()" [matMenuTriggerFor]="countermeasureList" [matMenuTriggerData]="{ item: group.countermeasures }">{{group.name}}</button>
          </mat-menu>
          <mat-menu #countermeasureList="matMenu">
            <ng-template matMenuContent let-item="item">
              <button mat-menu-item *ngFor="let cm of item" matTooltip="{{cm.Name}}" matTooltipShowDelay="1000" (click)="AddExistingCountermeasure(cm)">{{cm.Name}}</button>
            </ng-template> 
          </mat-menu>
          <mat-menu #filteredCountermeasureList="matMenu">
            <button mat-menu-item *ngFor="let cm of GetFilteredCountermeasures()" matTooltip="{{cm.Name}}" matTooltipShowDelay="1000" (click)="AddExistingCountermeasure(cm)">{{cm.Name}}</button>
          </mat-menu>
        </div>
        <mat-list-item *ngFor="let cm of countermeasures" (click)="selectedCountermeasure = cm"
          [class.highlight-light]="selectedCountermeasure === cm && !theme.IsDarkMode" [class.highlight-dark]="selectedCountermeasure === cm && theme.IsDarkMode"
          matTooltip="{{cm.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line style="pointer-events: initial;">{{cm.Name | translate}}</div>
          <button mat-icon-button style="margin-left: auto; margin-right: 0px;" (click)="RemoveCountermeasure(cm)" matTooltip="{{'general.Remove' | translate}}" matTooltipShowDelay="1000"><mat-icon>remove</mat-icon></button>
          <button mat-icon-button style="margin-left: auto;" (click)="DeleteCountermeasure(cm)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <div style="margin: 10px 0 10px 10px;" *ngIf="selectedCountermeasure">
        <app-countermeasure [countermeasure]="selectedCountermeasure"></app-countermeasure>
      </div>
    </div>
  </div>
  <mat-accordion class="expansion-panel-headers-align" style="pointer-events: initial;">
    <mat-expansion-panel *ngIf="attackScenario.CveEntry">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.CveInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.CveEntry.ID}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-cve-entry [entry]="attackScenario.CveEntry"></app-cve-entry>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="attackScenario.AttackVector">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.AttackVectorInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.AttackVector.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-attack-vector [canEdit]="false" [attackVector]="attackScenario.AttackVector"></app-attack-vector>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="attackScenario.ThreatQuestion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.Question' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.ThreatQuestion.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-threat-question [canEdit]="false" [threatQuestion]="attackScenario.ThreatQuestion"></app-threat-question>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="attackScenario.ThreatRule">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.Rule' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{attackScenario.ThreatRule.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-threat-rule [canEdit]="false" [threatRule]="attackScenario.ThreatRule"></app-threat-rule>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
  <div class="row" style="margin-bottom: 10px;">
    <div class="column1">
      <mat-list class="prop-list reorder-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <div mat-subheader>{{ 'properties.LinkedScenarios' | translate }} 
          <button mat-icon-button style="margin-left: 15px;" [matMenuTriggerFor]="addLinkedMenu" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
          <mat-menu #addLinkedMenu="matMenu">
            <input mat-menu-item #searchLinkedASBox [(ngModel)]="searchLinkedASString" [matMenuTriggerFor]="filteredLinkedScenarioList" (click)="OnSearchLinkedASBoxClick()" placeholder="{{ 'general.Search' | translate }}"/>
            <button mat-menu-item *ngFor="let group of GetAttackScenarioGroups()" [matMenuTriggerFor]="linkedScenarioList" [matMenuTriggerData]="{ item: group.scenarios }">{{group.name}}</button>
          </mat-menu>
          <mat-menu #linkedScenarioList="matMenu">
            <ng-template matMenuContent let-item="item">
              <button mat-menu-item *ngFor="let scenario of item" matTooltip="{{scenario.Name}}" matTooltipShowDelay="1000" (click)="OnLinkScenario(scenario)">{{scenario.Name}}</button>
            </ng-template> 
          </mat-menu>
          <mat-menu #filteredLinkedScenarioList="matMenu">
            <button mat-menu-item *ngFor="let ascen of GetFilteredLinkedAttackScenarios()" matTooltip="{{ascen.Name}}" matTooltipShowDelay="1000" (click)="OnLinkScenario(ascen)">{{ascen.Name}}</button>
          </mat-menu>
        </div>
        <mat-list-item *ngFor="let scenario of attackScenario.LinkedScenarios" (click)="selectedLinkedScenario = scenario"
          [class.highlight-light]="selectedLinkedScenario === scenario && !theme.IsDarkMode" [class.highlight-dark]="selectedLinkedScenario === scenario && theme.IsDarkMode"
          matTooltip="{{scenario.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line style="pointer-events: initial;">{{scenario.Name}}</div>
          <button mat-icon-button style="margin-left: auto; margin-right: 0px;" (click)="EditAttackScenario(scenario)" matTooltip="{{'general.Edit' | translate}}" matTooltipShowDelay="1000"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button style="margin-left: auto;" (click)="OnUnlinkScenario(scenario)" matTooltip="{{'general.Remove' | translate}}" matTooltipShowDelay="1000"><mat-icon>remove</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <div style="margin: 10px 0 10px 10px;" *ngIf="selectedLinkedScenario">
        <app-attack-scenario [canEdit]="false" [attackScenario]="selectedLinkedScenario"></app-attack-scenario>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 10px;" *ngIf="dataService.Project.HasTesting">
    <div class="column1">
      <mat-list class="prop-list reorder-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <div mat-subheader>{{ 'properties.LinkedTestCases' | translate }} 
          <button mat-icon-button style="margin-left: 15px;" [matMenuTriggerFor]="addLinkedTCMenu" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
          <mat-menu #addLinkedTCMenu="matMenu">
            <input mat-menu-item #searchTCBox [(ngModel)]="searchTCString" [matMenuTriggerFor]="filteredTCList" (click)="OnSearchTCBoxClick()" placeholder="{{ 'general.Search' | translate }}"/>
            <button mat-menu-item *ngFor="let tc of GetTestCases()" matTooltip="{{tc.Name}}" matTooltipShowDelay="1000" (click)="OnLinkTestCase(tc)">{{tc.Name}}</button>
          </mat-menu>
          <mat-menu #filteredTCList="matMenu">
            <button mat-menu-item *ngFor="let tc of GetFilteredTestCases()" matTooltip="{{tc.Name}}" matTooltipShowDelay="1000" (click)="OnLinkTestCase(tc)">{{tc.Name}}</button>
          </mat-menu>
        </div>
        <mat-list-item *ngFor="let tc of attackScenario.GetTestCases()" (click)="selectedTestCase = tc"
          [class.highlight-light]="selectedTestCase === tc && !theme.IsDarkMode" [class.highlight-dark]="selectedTestCase === tc && theme.IsDarkMode"
          matTooltip="{{tc.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line style="pointer-events: initial;">{{tc.Name}}</div>
          <button mat-icon-button style="margin-left: auto;" (click)="OnUnlinkTestCase(tc)" matTooltip="{{'general.Remove' | translate}}" matTooltipShowDelay="1000"><mat-icon>remove</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <div style="margin: 10px 0 10px 10px;" *ngIf="selectedTestCase">
        <app-test-case [testCase]="selectedTestCase"></app-test-case>
      </div>
    </div>
  </div>
</div>