<div [class.disable]="!canEdit">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.Description' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="threatCat.Description"></textarea>
  </mat-form-field>
  <h3>{{'properties.ImpactCategories' | translate}}</h3>
  <div style="margin-top: 10px; display: flex; flex-wrap: wrap;">
    <table *ngFor="let impact of GetImpactCategories()" style="min-width: 200px;">
      <tr><td><mat-checkbox color="primary" [checked]="threatCat.ImpactCats.includes(impact)" (change)="ImpactCatChanged(threatCat, impact)">{{GetImpactCategoryName(impact) | translate}}</mat-checkbox></td></tr>
    </table>
  </div>
</div>