<div style="margin: 10px;">
  <mat-accordion class="expansion-panel-headers-align">
    <mat-expansion-panel style="margin: 10px 0;" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.HowTo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{'general.ThreatSources' | translate}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div innerHTML="{{'pages.modeling.threatsources.howto.d' | translate}}"></div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="row">
    <div class="column1">
      <mat-list cdkDropList (cdkDropListDropped)="drop($event, threatSources.Sources)" class="prop-list reorder-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <div mat-subheader>{{'general.ThreatSources' | translate}} <button mat-icon-button [matMenuTriggerFor]="addMenu" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button>
          <mat-menu #addMenu="matMenu">
            <button mat-menu-item (click)="AddSource()">{{'general.New' | translate}}</button>
            <button mat-menu-item [matMenuTriggerFor]="existing">{{'general.Predefined' | translate}}</button>
          </mat-menu>
          <mat-menu #existing="matMenu">
            <button mat-menu-item *ngFor="let src of GetPossibleThreatSources()" (click)="AddExistingSource(src)">{{src.Name}}</button>
          </mat-menu>
        </div>
        <mat-list-item *ngFor="let src of threatSources.Sources" (click)="selectedSource = src" cdkDrag
        [class.highlight-light]="selectedSource === src && !theme.IsDarkMode" [class.highlight-dark]="selectedSource === src && theme.IsDarkMode">
          <mat-icon mat-list-icon>chevron_right</mat-icon>
          <div mat-line>{{src.Name}}</div>
          <div mat-line *ngIf="src.Likelihood">{{'general.Likelihood' | translate}}: {{GetLMHName(src.Likelihood) | translate}}</div>
          <button mat-icon-button style="margin-left: auto;" (click)="DeleteSource(src)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <ng-container *ngIf="selectedSource">
        <div style="margin-left: 10px;">
          <mat-form-field appearance="fill" class="property-form-field">
            <mat-label>{{ 'properties.Name' | translate }}</mat-label>
            <input matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="selectedSource.Name"/>
            <button *ngIf="selectedSource.Name" matSuffix mat-icon-button (click)="selectedSource.Name=''" matTooltip="{{'general.Clear' | translate}}" matTooltipShowDelay="1000">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 70px; float: right; margin-left: 10px;">
            <mat-label>{{ 'general.Number' | translate }}</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="selectedSource.Number" required matTooltip="{{selectedSource.Number}}" matTooltipShowDelay="1000"/>
            <mat-hint *ngIf="NumberAlreadyExists()" style="color: red;" class="alert alert-danger">
              {{'messages.error.numberAlreadyExists' | translate}}
            </mat-hint>
          </mat-form-field>
          <br/>
          <app-threat-actor [threatActor]="selectedSource"></app-threat-actor>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 10px;">
      <mat-label>{{ 'general.Notes' | translate }}</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="threatSources.Description"></textarea>
    </mat-form-field>
  </div>
</div>