<div>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{'general.Name' | translate}}</mat-label>
    <input matInput type="text" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="systemThreat.Name" matTooltip="{{systemThreat.Name}}" matTooltipShowDelay="1000">
    <button *ngIf="systemThreat.Name" matSuffix mat-icon-button (click)="systemThreat.Name=''" matTooltip="{{'general.Clear' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{'properties.consequencesImpact' | translate}}</mat-label>
    <textarea matInput [spellcheck]="dataService.HasSpellCheck" type="text" [(ngModel)]="systemThreat.Description"></textarea>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'properties.Impact' | translate}}</mat-label>
    <mat-select [(value)]="systemThreat.Impact" matTooltip="{{GetLMHName(systemThreat.Impact) | translate}}" matTooltipShowDelay="1000">
      <mat-option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field" *ngIf="showThreatCat">
    <mat-label>{{'general.ThreatCategory' | translate}}</mat-label>
    <mat-select [(value)]="systemThreat.ThreatCategory">
      <mat-option *ngFor="let cat of GetThreatCategories()" [value]="cat" matTooltip="{{cat.Description}}" matTooltipShowDelay="1000">
        {{cat.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <div style="margin-top: 10px; display: flex; flex-wrap: wrap;">
    <table *ngFor="let impact of GetImpactCategories()" style="min-width: 200px;">
      <tr><td><mat-checkbox color="primary" [checked]="systemThreat.ImpactCats.includes(impact)" (change)="ImpactCatChanged(systemThreat.ImpactCats, impact)">{{GetImpactCategoryName(impact) | translate}}</mat-checkbox></td></tr>
    </table>
  </div>
</div>