<div style="margin: 10px;">
  <div class="row">
    <div class="column1">
      <mat-list class="prop-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <mat-list-item *ngFor="let arr of arrays" (click)="selectedArray = arr"
        [class.highlight-light]="selectedArray === arr && !theme.IsDarkMode" [class.highlight-dark]="selectedArray === arr && theme.IsDarkMode">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line>{{GetArrayName(arr) | translate}}</div>
          <div mat-line *ngIf="arr?.length == 0">{{'pages.modeling.charscope.notDefined' | translate}}</div>
          <div mat-line *ngIf="arr?.length > 0">{{'general.Notes' | translate}}: {{arr.length}}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <ng-container *ngIf="selectedArray">
        <div style="margin-left: 10px;">
          <mat-accordion class="expansion-panel-headers-align">
            <mat-expansion-panel style="margin-top: 10px;" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'general.HowTo' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{GetArrayName(selectedArray) | translate}}
                  <mat-icon>info</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div *ngIf="selectedArray" innerHTML="{{GetArrayName(selectedArray) + '.d' | translate}}"></div>
            </mat-expansion-panel>
          </mat-accordion>
          <app-notes [showTimestamp]="false" [hasCheckbox]="false" [strings]="selectedArray"></app-notes>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 10px;">
      <mat-label>{{ 'general.Notes' | translate }}</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="charScope.Description"></textarea>
    </mat-form-field>
  </div>
</div>