<div style="margin-left: 10px; margin-top: 10px;" *ngIf="threatActor">
  {{'pages.modeling.threatsources.Motive' | translate}}:
  <app-notes [showTimestamp]="false" [hasCheckbox]="false" [strings]="threatActor.Motive"></app-notes>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{ 'general.Likelihood' | translate }}</mat-label>
    <mat-select [(value)]="threatActor.Likelihood">
      <mat-option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>