<div class="website-container">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened style="border-right-width: 0px;">
      <app-side-nav style="width: 100%; height: calc(100% - 20px);" selectedRoute="/risk" (sameRoute)="OnSameRoute()"></app-side-nav>
    </mat-drawer>

    <mat-drawer-content [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
      <as-split direction="horizontal" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 1)">
        <as-split-area [size]="GetSplitSize(1, 0, 350)" [visible]="showLeftBar" [order]=1 [class.splitter-light1]="!theme.IsDarkMode" [class.splitter-dark1]="theme.IsDarkMode">
          <app-nav-tree #navTree [activeNode]="selectedNode" (selectedNodeChanged)="selectedNode = $event"></app-nav-tree>
        </as-split-area>
        <as-split-area [size]="GetSplitSize(1, 1, $any('*'))" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
          <div style="margin-left: 10px; height: calc(100% - 22px);">
            <app-attack-scenario style="height: 100%; display: block; margin: 10px 10px 0 0;" [attackScenario]="selectedNode.data" *ngIf="IsAttackScenario()"></app-attack-scenario>
            <ng-container *ngIf="selectedNode && selectedNode.data == null">
              <h2 *ngIf="selectedNode">{{selectedNode.name()}}</h2>
              <span style="margin-left: 5px; margin-top: 2px;">{{'pages.dashboard.ThreatOverview' | translate}}: {{AttackScenarios.length}} {{'general.AttackScenarios' | translate}}</span>
              <input matInput [spellcheck]="dataService.HasSpellCheck" class="filterInput" (keyup)="ApplyScenarioFilter($event)" placeholder="{{'pages.modeling.filter' | translate}}" [class.bg-color-light2]="!theme.IsDarkMode" [class.bg-color-dark2]="theme.IsDarkMode" [style.color]="theme.IsDarkMode ? 'white' : 'black'"/>
              <div style="height: calc(100% - 70px);">
                <table mat-table #scenariotable="matSort" style="width: 100%; overflow: auto; display: block; height: calc(100% - 10px)" matSort [dataSource]="dataSourceScenarios" matSortActive="number" matSortDirection="asc" matSortDisableClear [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
                  <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Number' | translate}} </th>
                    <td mat-cell *matCellDef="let entry"> {{entry.Number}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Name' | translate}} </th>
                    <td mat-cell *matCellDef="let entry"> {{entry.GetProperty('Name')}} </td>
                  </ng-container>
                  <ng-container matColumnDef="elements">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Elements' | translate}} </th>
                    <td mat-cell *matCellDef="let entry" [class.selected-cell]="IsElementSelected(entry)"> {{GetTargets(entry)}} </td>
                  </ng-container>
                  <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.View' | translate}} </th>
                    <td mat-cell *matCellDef="let entry"> {{GetViewName(entry)}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cvssVector">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'report.CvssVector' | translate}} </th>
                    <td mat-cell *matCellDef="let entry"> {{GetCvssVector(entry)}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cvssScore">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> {{'report.CvssScore' | translate}} </th>
                    <td mat-cell *matCellDef="let entry" style="text-align: center;"> {{entry.ScoreCVSS?.Score}} </td>
                  </ng-container>
                  <ng-container matColumnDef="owaspVector">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'report.OwaspRRVector' | translate}} </th>
                    <td mat-cell *matCellDef="let entry"> {{GetOwaspRRVector(entry)}} </td>
                  </ng-container>
                  <ng-container matColumnDef="owaspScore">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> {{'report.OwaspRRScore' | translate}} </th>
                    <td mat-cell *matCellDef="let entry" style="text-align: center;"> {{GetOwaspRRScore(entry) | translate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="severity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'properties.Severity' | translate}} </th>
                    <td mat-cell *matCellDef="let entry">
                      <select [(ngModel)]="entry.Severity" style="width: 80px;" (change)="entry.CalculateRisk()">
                        <option [value]="0">{{'properties.selectNone' | translate}}</option>
                        <option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</option>
                      </select>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="likelihood">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.Likelihood' | translate}} </th>
                    <td mat-cell *matCellDef="let entry">
                      <select [(ngModel)]="entry.Likelihood" style="width: 80px;" (change)="entry.CalculateRisk()">
                        <option [value]="0">{{'properties.selectNone' | translate}}</option>
                        <option *ngFor="let type of GetLMHValues()" [value]="type">{{GetLMHName(type) | translate}}</option>
                      </select>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="risk">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'properties.Risk' | translate}} </th>
                    <td mat-cell *matCellDef="let entry">
                      <select [(ngModel)]="entry.Risk" style="width: 80px; pointer-events: none;">
                        <option *ngFor="let type of GetSeverityTypes()" [value]="type">{{GetSeverityTypeName(type) | translate}}</option>
                      </select>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'properties.Status' | translate}} </th>
                    <td mat-cell *matCellDef="let entry">
                      <select [(ngModel)]="entry.ThreatState" style="width: 130px;">
                        <option *ngFor="let state of GetThreatStates()" [value]="state" >{{GetThreatStateName(state) | translate}}</option>
                      </select>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="more">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let entry"> <mat-icon (click)="OpenContextMenu($event, entry)" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000">more_vert</mat-icon> </td>
                  </ng-container>
              
                  <tr mat-header-row style="height: 30px;" *matHeaderRowDef="displayedScenarioColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedScenarioColumns;" [id]="row.ID" [class.selected-entry]="IsScenarioSelected(row)"
                    (click)="SelectScenario(row)" (dblclick)="OnScenarioDblClick(row)" (contextmenu)="OpenContextMenu($event, row)">
                  </tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="12" (contextmenu)="OpenContextMenu($event, null)">{{'pages.modeling.threattable.noThreats' | translate}}</td>
                  </tr>
                </table>
                <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div> 
                <mat-menu #rightMenu="matMenu"> 
                  <ng-template matMenuContent let-item="item">
                    <span *ngIf="item" style="margin-left: 20px; margin-right: 20px;">{{item.GetProperty('Name')}}</span> 
                    <span *ngIf="!item" style="margin-left: 20px; margin-right: 20px;">{{'pages.modeling.threattable.noEntrySelected' | translate}}</span>
                    <button mat-menu-item [disabled]="!item" (click)="OnScenarioDblClick(item)">
                      <mat-icon>edit</mat-icon>
                      <span>{{'pages.modeling.threattable.editEntry' | translate}}</span>
                    </button>
                  </ng-template> 
                </mat-menu>
              </div>
            </ng-container>
          </div>
        </as-split-area>
      </as-split>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-status-bar></app-status-bar>
</div>
