<div *ngIf="countermeasure" [class.disable]="!canEdit">
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{ 'properties.Name' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="countermeasure.Name" matTooltip="{{countermeasure.Name}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="property-form-field" style="margin-left: 10px;">
    <mat-label>{{'properties.Status' | translate}}</mat-label>
    <mat-select [(value)]="countermeasure.MitigationState" matTooltip="{{GetMitigationStateName(countermeasure.MitigationState) | translate}}" matTooltipShowDelay="1000">
      <mat-option *ngFor="let state of GetMitigationStates()" [value]="state">{{GetMitigationStateName(state) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon color="warn" *ngIf="!countermeasure.RuleStillApplies" style="margin-left: 5px;" matTooltip="{{'pages.modeling.countermeasure.ruleNotApplyingAnymore' | translate}}">sync_problem</mat-icon>
  <mat-form-field appearance="fill" class="property-form-field" style="margin-left: 10px;">
    <mat-label>{{'properties.MitigationProcess' | translate}}</mat-label>
    <mat-select [(value)]="countermeasure.MitigationProcess" (selectionChange)="mitigationProcessChange.emit()" matTooltip="{{countermeasure.MitigationProcess?.Name}}" matTooltipShowDelay="1000">
      <mat-option>{{'properties.selectNone' | translate}} </mat-option>
      <mat-option *ngFor="let proc of GetMitigationProcesses()" [value]="proc">{{proc.Name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button style="vertical-align: super;" [disabled]="!countermeasure.MitigationProcess" (click)="EditMitigationProcess()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button style="vertical-align: super;" (click)="AddMitigationProcess()">
    <mat-icon>add</mat-icon>
  </button>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'general.Control' | translate}}</mat-label>
    <mat-select [(value)]="countermeasure.Control" matTooltip="{{countermeasure.Control?.Name}}" matTooltipShowDelay="1000">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-optgroup *ngFor="let group of GetControlGroups()" [label]="group.Name">
        <mat-option *ngFor="let mit of group.Controls" [value]="mit">
          {{mit.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button style="vertical-align: super;" (click)="AddControl()">
    <mat-icon>add</mat-icon>
  </button>
  <br/>
  <mat-form-field appearance="fill" class="disable" style="width: 100%;" *ngIf="!isManualEntry">
    <mat-label>{{ 'general.Targets' | translate }}</mat-label>
    <input matInput [value]="GetTargetsNames()"/>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;" *ngIf="isManualEntry">
    <mat-label>{{ 'general.Targets' | translate }}</mat-label>
    <mat-select [(value)]="countermeasure.Targets" matTooltip="{{GetTargetsNames()}}" matTooltipShowDelay="1000" multiple>
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let ele of elements" [value]="ele">
        {{ele.GetProperty('Name')}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.Description' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="countermeasure.Description"></textarea>
  </mat-form-field>
  <mat-accordion class="expansion-panel-headers-align" style="pointer-events: initial;">
    <mat-expansion-panel *ngIf="countermeasure.Control">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.ControlInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{countermeasure.Control.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-control [canEdit]="false" [control]="countermeasure.Control"></app-control>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="countermeasure.MitigationProcess">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.MitigationProcessInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{countermeasure.MitigationProcess.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-mitigation-process [canEdit]="false" [mitigationProcess]="countermeasure.MitigationProcess"></app-mitigation-process>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let map of countermeasure.AttackScenarios">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'pages.modeling.countermeasure.mitigatedThreats' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{map?.GetProperty('Name')}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-attack-scenario [canEdit]="false" [attackScenario]="map"></app-attack-scenario>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</div>