<div *ngIf="countermeasure" [class.disable]="!canEdit">
  <mat-form-field appearance="fill" style="width: calc(100% - 85px);">
    <mat-label>{{ 'properties.Name' | translate }}</mat-label>
    <input matInput #nameBox [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="countermeasure.Name" matTooltip="{{countermeasure.Name}}" matTooltipShowDelay="1000"/>
    <button *ngIf="countermeasure.Name" matSuffix mat-icon-button (click)="countermeasure.Name=''" matTooltip="{{'general.Clear' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 70px; float: right;">
    <mat-label>{{ 'general.Number' | translate }}</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="countermeasure.Number" required matTooltip="{{countermeasure.Number}}" matTooltipShowDelay="1000"/>
    <mat-hint *ngIf="countermeasure.CheckUniqueNumber()" style="color: red;" class="alert alert-danger">
      {{'messages.error.numberAlreadyExists' | translate}}
    </mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'properties.Status' | translate}}</mat-label>
    <mat-select [(value)]="countermeasure.MitigationState" matTooltip="{{GetMitigationStateName(countermeasure.MitigationState) | translate}}" matTooltipShowDelay="1000">
      <mat-option *ngFor="let state of GetMitigationStates()" [value]="state">{{GetMitigationStateName(state) | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon color="warn" *ngIf="!countermeasure.RuleStillApplies" style="margin-left: 5px;" matTooltip="{{'pages.modeling.countermeasure.ruleNotApplyingAnymore' | translate}}">sync_problem</mat-icon>
  <mat-form-field appearance="fill" class="property-form-field" style="margin-left: 10px;">
    <mat-label>{{'properties.MitigationProcess' | translate}}</mat-label>
    <mat-select [(value)]="countermeasure.MitigationProcess" (selectionChange)="mitigationProcessChange.emit()" matTooltip="{{countermeasure.MitigationProcess?.Name}}" matTooltipShowDelay="1000">
      <mat-option>{{'properties.selectNone' | translate}} </mat-option>
      <mat-option *ngFor="let proc of GetMitigationProcesses()" [value]="proc">{{proc.Name}}</mat-option>
    </mat-select>
    <button mat-icon-button matSuffix style="width: 25px;" [disabled]="!countermeasure.MitigationProcess" (click)="EditMitigationProcess(); $event.stopPropagation()" matTooltip="{{'general.Edit' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matSuffix style="width: 25px;" (click)="AddMitigationProcess(); $event.stopPropagation()" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="disable" style="width: calc(100% - 300px - 15px);" *ngIf="!isManualEntry">
    <mat-label>{{ 'general.Targets' | translate }}*</mat-label>
    <input matInput [value]="GetTargetsNames()"/>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: calc(100% - 300px - 15px);" *ngIf="isManualEntry">
    <mat-label>{{ 'general.Targets' | translate }}*</mat-label>
    <mat-select [(value)]="countermeasure.Targets" matTooltip="{{GetTargetsNames()}}" matTooltipShowDelay="1000" multiple>
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-option *ngFor="let ele of elements" [value]="ele">
        {{ele.GetProperty('Name')}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="property-form-field disable" style="margin-left: 10px;">
    <mat-label>{{ 'general.Diagram' | translate }}</mat-label>
    <input matInput [spellcheck]="dataService.HasSpellCheck" [value]="countermeasure.GetDiagram()?.Name" matTooltip="{{countermeasure.GetDiagram()?.Name}}" matTooltipShowDelay="1000"/>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="property-form-field">
    <mat-label>{{'general.Control' | translate}} ({{'general.Informative' | translate}})</mat-label>
    <mat-select [(value)]="countermeasure.Control" matTooltip="{{countermeasure.Control?.Name}}" matTooltipShowDelay="1000">
      <mat-option>{{'properties.selectNone' | translate}}</mat-option>
      <mat-optgroup *ngFor="let group of GetControlGroups()" [label]="group.Name">
        <mat-option *ngFor="let mit of group.Controls" [value]="mit">
          {{mit.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <button mat-icon-button matSuffix style="width: 25px;" (click)="AddControl(); $event.stopPropagation()" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>{{ 'properties.Description' | translate }}</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="countermeasure.Description"></textarea>
  </mat-form-field>
  <app-tags [tagableElement]="countermeasure"></app-tags>
  <mat-accordion class="expansion-panel-headers-align" style="pointer-events: initial;">
    <mat-expansion-panel *ngIf="countermeasure.Control">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.ControlInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{countermeasure.Control.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-control [canEdit]="false" [control]="countermeasure.Control"></app-control>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="countermeasure.MitigationProcess">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'general.MitigationProcessInfo' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{countermeasure.MitigationProcess.Name}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-mitigation-process [canEdit]="false" [mitigationProcess]="countermeasure.MitigationProcess"></app-mitigation-process>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let map of countermeasure.AttackScenarios">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'pages.modeling.countermeasure.mitigatedThreats' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{map?.GetProperty('Name')}}
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-attack-scenario [canEdit]="false" [attackScenario]="map"></app-attack-scenario>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
  <div class="row" style="margin-bottom: 10px;" *ngIf="dataService.Project.HasTesting">
    <div class="column1">
      <mat-list class="prop-list reorder-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
        <div mat-subheader>{{ 'properties.LinkedTestCases' | translate }} 
          <button mat-icon-button style="margin-left: 15px;" [matMenuTriggerFor]="addLinkedTCMenu" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000"><mat-icon>add</mat-icon></button>
          <mat-menu #addLinkedTCMenu="matMenu">
            <input mat-menu-item #searchTCBox [(ngModel)]="searchTCString" [matMenuTriggerFor]="filteredTCList" (click)="OnSearchTCBoxClick()" placeholder="{{ 'general.Search' | translate }}"/>
            <button mat-menu-item *ngFor="let tc of GetTestCases()" matTooltip="{{tc.Name}}" matTooltipShowDelay="1000" (click)="OnLinkTestCase(tc)">{{tc.Name}}</button>
          </mat-menu>
          <mat-menu #filteredTCList="matMenu">
            <button mat-menu-item *ngFor="let tc of GetFilteredTestCases()" matTooltip="{{tc.Name}}" matTooltipShowDelay="1000" (click)="OnLinkTestCase(tc)">{{tc.Name}}</button>
          </mat-menu>
        </div>
        <mat-list-item *ngFor="let tc of countermeasure.GetTestCases()" (click)="selectedTestCase = tc"
          [class.highlight-light]="selectedTestCase === tc && !theme.IsDarkMode" [class.highlight-dark]="selectedTestCase === tc && theme.IsDarkMode"
          matTooltip="{{tc.Name}}" matTooltipShowDelay="1000">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line style="pointer-events: initial;">{{tc.Name}}</div>
          <button mat-icon-button style="margin-left: auto;" (click)="OnUnlinkTestCase(tc)" matTooltip="{{'general.Remove' | translate}}" matTooltipShowDelay="1000"><mat-icon>remove</mat-icon></button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="column2">
      <div style="margin: 10px 0 10px 10px;" *ngIf="selectedTestCase">
        <app-test-case [testCase]="selectedTestCase"></app-test-case>
      </div>
    </div>
  </div>
</div>