<div style="width: 100%; height: 100%;">
  <as-split direction="horizontal" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 0)">
    <as-split-area [size]="GetSplitSize(0, 0, 350)" [order]=1 [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
      <as-split direction="vertical" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 1)">
        <div style="font-weight: bold; text-align: center;">{{'general.Assets' | translate}}</div>
        <as-split-area [size]="GetSplitSize(1, 0, $any('*'))" [order]=1 [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
          <app-nav-tree #assetsTree [checkEnabled]="selectedThreat != null" [activeNode]="selectedAssetNode" (selectedNodeChanged)="selectedAssetNode = $event" (checkedNodesChanged)="OnCheckedAssetNodesChanged($event)"></app-nav-tree>
        </as-split-area>
        <as-split-area [size]="GetSplitSize(1, 1, 120)" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
          <app-properties class="disable" [selectedObject]="selectedAssetObject"></app-properties>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="GetSplitSize(0, 1, $any('*'))" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
      <as-split direction="vertical" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 2)">
        <div style="font-weight: bold; text-align: center;">{{'general.SystemThreats' | translate}}</div>
        <div mat-subheader style="padding-bottom: 0px;">{{ 'general.Threats' | translate }} <button mat-icon-button (click)="AddThreat()" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button></div>
        <as-split-area style="margin-bottom: 10px;" [size]="GetSplitSize(2, 0, 200)" [order]=1 [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
          <div style="padding: 10px;">
            <mat-list cdkDropList (cdkDropListDropped)="drop($event, systemThreats)" class="prop-list reorder-list">
              <div style="overflow: auto;">
                <mat-list-item *ngFor="let dt of systemThreats" (click)="selectedThreat = dt" cdkDrag
                [class.highlight-light]="selectedThreat === dt && !theme.IsDarkMode" [class.highlight-dark]="selectedThreat === dt && theme.IsDarkMode"
                matTooltip="{{dt.Name}}" matTooltipShowDelay="1000">
                  <mat-icon mat-list-icon>chevron_right</mat-icon>
                  <div mat-line>{{dt.Name}}</div>
                  <div mat-line>{{'properties.Impact' | translate}}: {{GetLMHName(dt.Impact) | translate}}</div>
                  <button mat-icon-button style="margin-left: auto;" (click)="DeleteThreat(dt)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
                </mat-list-item>
              </div>
            </mat-list>
          </div>
        </as-split-area>
        <as-split-area [size]="GetSplitSize(2, 1, $any('*'))" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
          <div *ngIf="selectedThreat" style="padding: 10px">
            <app-system-threat [systemThreat]="selectedThreat"></app-system-threat>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="GetSplitSize(0, 2, 350)" [order]=3 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
      <as-split direction="vertical" unit="pixel" [gutterSize]="3" [restrictMove]="true" (dragEnd)="OnSplitSizeChange($event, 3)">
        <div style="font-weight: bold; text-align: center;">{{'general.ThreatCategories' | translate}}</div>
        <as-split-area [size]="GetSplitSize(3, 0, $any('*'))" [order]=1 [class.splitter-light2]="!theme.IsDarkMode" [class.splitter-dark2]="theme.IsDarkMode">
          <app-nav-tree #catsTree [canCheckMultiple]="false" [checkEnabled]="selectedThreat != null" [activeNode]="selectedCategoryNode" (selectedNodeChanged)="selectedCategoryNode = $event" (checkedNodesChanged)="OnCheckedCategoryChanged($event)"></app-nav-tree>
        </as-split-area>
        <as-split-area [size]="GetSplitSize(3, 1, 120)" [order]=2 [class.bg-color-light3]="!theme.IsDarkMode" [class.bg-color-dark3]="theme.IsDarkMode">
          <app-properties class="disable" [selectedObject]="selectedCategory"></app-properties>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>