<div style="margin: 0 10px;" *ngIf="!!Project">
  <h3>{{Project.Name}}</h3>
  <div>
    <mat-form-field appearance="fill" style="min-width: 660px; width: 100%;">
      <mat-label>{{ 'properties.Description' | translate }}</mat-label>
      <textarea matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="Project.Description"></textarea>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" class="property-form-field">
      <mat-label>{{ 'properties.Version' | translate }}</mat-label>
      <input matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="Project.UserVersion"/>
    </mat-form-field>
    <div class="row">
      <div class="column1">
        <mat-list class="prop-list" [class.prop-list-light]="!theme.IsDarkMode" [class.prop-list-dark]="theme.IsDarkMode">
          <div mat-subheader>{{ 'properties.Participants' | translate }} <button mat-icon-button (click)="AddUser()" matTooltip="{{'general.Add' | translate}}" matTooltipShowDelay="1000" style="margin-left: 15px;"><mat-icon>add</mat-icon></button></div>
          <mat-list-item *ngFor="let user of Project.Participants" (click)="selectedUser = user"
          [class.highlight-light]="selectedUser === user && !theme.IsDarkMode" [class.highlight-dark]="selectedUser === user && theme.IsDarkMode"
          matTooltip="{{user.Name}}" matTooltipShowDelay="1000">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{user.Name}}</div>
            <div mat-line><a class="primary-color" [href]="'mailto:' + user.Email">{{user.Email}}</a></div>
            <button mat-icon-button style="margin-left: auto;" (click)="DeleteUser(user)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="column2">
        <div *ngIf="selectedUser" style="margin: 10px 0 10px 10px">
          <mat-form-field appearance="fill" class="property-form-field">
            <mat-label>{{ 'properties.Name' | translate }}</mat-label>
            <input matInput [spellcheck]="dataService.HasSpellCheck" [(ngModel)]="selectedUser.Name"/>
            <button *ngIf="selectedUser.Name" matSuffix mat-icon-button (click)="selectedUser.Name=''" matTooltip="{{'general.Clear' | translate}}" matTooltipShowDelay="1000">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" class="property-form-field">
            <mat-label>{{ 'properties.Email' | translate }}</mat-label>
            <input matInput [(ngModel)]="selectedUser.Email"/>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4>{{'general.Tasks' | translate}}</h4>
    <div cdkDropList class="reorder-list" (cdkDropListDropped)="drop($event, Project.Tasks)">
      <div class="reorder-box" [style.color]="theme.IsDarkMode ? 'white' : 'black'" *ngFor="let item of Project.Tasks; index as index" cdkDrag>
        <ng-container *ngIf="!isEdtingArray[0][index]">
          <mat-icon>chevron_right</mat-icon> <mat-checkbox color="primary" [(ngModel)]="item.IsDone">{{item.Task}}</mat-checkbox>
          <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="isEdtingArray[0][index] = true" matTooltip="{{'general.Edit' | translate}}" matTooltipShowDelay="1000">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="OnDeleteItem(item, Project.Tasks)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <input *ngIf="isEdtingArray[0][index]" [spellcheck]="dataService.HasSpellCheck" id="renameBox" type="text" style="width: -webkit-fill-available;" [ngModel]="item.Task" (keydown)="OnRenameItem($event, Project.Tasks, 0, index, 'Task')" autofocus (focusout)="OnRenameItem($event, Project.Tasks, 0, index, 'Task')" onfocus="this.select();"/>
      </div>
    </div>
    <div style="padding: 5px 10px;">
      <mat-icon>chevron_right</mat-icon><input matInput [spellcheck]="dataService.HasSpellCheck" style="width: calc(100% - 24px); vertical-align: super; font-size: 14px;" (keydown)="OnTaskKeyDown($event)" placeholder="{{'pages.modeling.charscope.addDescription' | translate}}"/>
    </div>
  </div>
  <div>
    <h4>{{'general.Notes' | translate}}</h4>
    <div cdkDropList class="reorder-list" (cdkDropListDropped)="drop($event, Project.Notes)">
      <div class="reorder-box" [style.color]="theme.IsDarkMode ? 'white' : 'black'" *ngFor="let item of Project.Notes; index as index" cdkDrag>
        <ng-container *ngIf="!isEdtingArray[1][index]">
          <mat-icon>chevron_right</mat-icon> {{item.Date | date:'medium'}} - {{item.Author}}: {{item.Note}}
          <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="isEdtingArray[1][index] = true" matTooltip="{{'general.Edit' | translate}}" matTooltipShowDelay="1000">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="OnDeleteItem(item, Project.Notes)" matTooltip="{{'general.Delete' | translate}}" matTooltipShowDelay="1000">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <input *ngIf="isEdtingArray[1][index]" [spellcheck]="dataService.HasSpellCheck" id="renameBox" type="text" style="width: -webkit-fill-available;" [ngModel]="item.Note" (keydown)="OnRenameItem($event, Project.Notes, 1, index, 'Note')" autofocus (focusout)="OnRenameItem($event, Project.Notes, 1, index, 'Note')" onfocus="this.select();"/>
      </div>
    </div>
    <div style="padding: 5px 10px;">
      <mat-icon>chevron_right</mat-icon><input matInput [spellcheck]="dataService.HasSpellCheck" style="width: calc(100% - 24px); vertical-align: super; font-size: 14px;" (keydown)="OnNoteKeyDown($event)" placeholder="{{'pages.modeling.charscope.addDescription' | translate}}"/>
    </div>
  </div>
  <div>
    <mat-accordion class="expansion-panel-headers-align">
      <mat-expansion-panel *ngIf="GHProject">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'dialog.modelinfo.History' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{GHProject.name}}
            <mat-icon>history</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <table>
            <tr *ngFor="let commit of commits; index as index; count as count">
              <td style="text-align: right;">{{count-index}})</td>
              <td>{{commit.date | date:'medium'}}</td>
              <td>-</td>
              <td>{{commit.commiter}}</td>
              <td>:</td>
              <td>
                {{commit.message}}
                <button mat-icon-button style="width: 20px; height: 20px; line-height: 20px;" (click)="dataService.RestoreCommit(commit)" matTooltip="{{'dialog.modelinfo.Restore' | translate}}" matTooltipShowDelay="1000">
                  <mat-icon>restore</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>