@import 'stylesTheme.scss';
@import 'stylesPropList.scss';
@import 'stylesReorderList.scss';

.col1 {
  float: left;
  width: 350px;
}

.col2 {
  float: left;
  width: calc(100% - 350px);
}

.row {
  min-width: 660px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imgContainer {
  position: relative;
  margin-left: 10px;
}

.imgContainer img {
  max-height: 230px;
  height: auto;
}

.imgContainer .uploadBtn {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imgContainer .removeBtn {
  position: absolute;
  top: 25px;
  // left: calc(100% - 25px);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.fileInput {
  display: none;
}