@import 'styles.scss';

.status-bar {
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
    height: 22px; 
    font-size: smaller;
    color: white; 
    border-top-style: solid; 
    border-color: white; 
    border-width: 0px; 
    z-index:99999;
}

button {
    height: 22px !important;
    border-radius: 2px;
    bottom: 1px;
}

.statusBtn {
    width: auto;
    font-size: 14px !important;
    line-height: 22px !important;
}
.statusBtn:hover {
    background-color: rgba($color: #fff, $alpha: 0.15) !important;
}

.iconBtn {
    height: 22px !important;
    //font-size: 17px !important;
    line-height: 22px !important;
    transform: scale(0.68);
}

.buttonAsText {
    background:none;
    border:none;
    margin:0;
    margin-bottom: 5px;
    padding:0;
    cursor: pointer;
    font-size: small;
    color: white;
}