.primary-color {
  color: #2196F3 !important;
}

.primary-background {
  background-color: #2196F3 !important;
}

.bg-color-light1 {
  background-color: #e7e5e5 !important;
}

.bg-color-light2 {
  background-color: #F5F5F5 !important;
}

.bg-color-light3 {
  background-color: #FFFFFF !important;
}

.bg-color-dark1 {
  background-color: #333333 !important;
}

.bg-color-dark2 {
  background-color: #252525 !important;
}

.bg-color-dark3 {
  background-color: #1E1E1E !important;
}

.splitter as-split {
  ::ng-deep .as-split-gutter {
    position: relative;
  }

  ::ng-deep .as-split-gutter-icon {
    background-image: none !important;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
  }

  ::ng-deep .as-split-gutter-icon:hover {
    opacity: 0.1;
  }

  ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon {
    background-color: #2196F3;
    opacity: 1;
  }

  // &.as-horizontal {
  //   ::ng-deep .as-split-gutter-icon {
  //     width: 5px !important;
  //     left: -2px;
  //     right: 2px;
  //   }
  // }
  // &.as-vertical {
  //   ::ng-deep .as-split-gutter-icon {
  //     height: 5px !important;
  //     top: -2px;
  //     bottom: 2px;
  //     width: auto !important;
  //   }
  // }
}

.splitter-light1 {
  @extend .splitter;
  ::ng-deep .as-split-gutter {
    //@extend .bg-color-light1;
    background-color: #e7e5e5 !important;
  }
}

.splitter-dark1 {
  @extend .splitter;
  ::ng-deep .as-split-gutter {
    //@extend .bg-color-dark1; 
    background-color: #333333 !important;
  }
}

.splitter-light2 {
  @extend .splitter;
  ::ng-deep .as-split-gutter {
    @extend .bg-color-light2;
  }
}

.splitter-dark2 {
  @extend .splitter;
  ::ng-deep .as-split-gutter {
    @extend .bg-color-dark2;
  }
}