@import 'stylesTheme.scss';

.title {
  //text-align: center;
  margin-top: 5%;
  margin-left: 12.5%;
}

.column {
  float: left;
  width: 50%;
}

.first-column-content {
  padding-top: 30px;
  margin-left: 25%;
}
.second-column-content {
  padding-top: 30px;
  margin-right: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.astext {
  background:none;
  border:none;
  margin:0;
  margin-bottom: 5px;
  padding:0;
  cursor: pointer;
  font-size: large;
}

.iconBtn {
  width: 30px;
  height: 30px;
}

.exportBtn ::ng-deep .mat-badge-content 
{
  right: -1px !important;
}

.importBtn ::ng-deep .mat-badge-content 
{
  right: -1px !important;
}

#project .show-on-hover {
  visibility: hidden;
}

#project:hover .show-on-hover {
  visibility: visible;
}

#config .show-on-hover {
  visibility: hidden;
}

#config:hover .show-on-hover {
  visibility: visible;
}