<div class="website-container" color="primary">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened style="border-right-width: 0px;">
      <app-side-nav style="width: 100%; height: 100%;" selectedRoute="/home"></app-side-nav>
    </mat-drawer>

    <mat-drawer-content>
      <div class="title">
        <h1><img src='./assets/icons/favicon.192x192.png?raw=true' style="width: 50px;" alt='logo'> {{'pages.home.title' | translate}}</h1>
        <h3>{{'pages.home.subtitle' | translate}}</h3>
      </div>
      <div class="row">
        <div class="column">
          <div class="first-column-content">
            <ng-container *ngIf="dataService.IsLoggedIn || dataService.IsGuest">
              <h2>
                {{'pages.home.projects' | translate}}
                <button mat-icon-button style="vertical-align: middle;" [matMenuTriggerFor]="projMenu" aria-label="Menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #projMenu="matMenu">
                  <button mat-menu-item [disabled]="!dataService.CanSaveProjectBtn" (click)="dataService.OnSave()">
                    <mat-icon>save</mat-icon>
                    <span>{{'pages.home.menu.saveProject' | translate}}</span>
                  </button>
                  <button mat-menu-item [disabled]="!dataService.Project" (click)="dataService.ExportFile(true)" matTooltip="{{'pages.home.menu.downloadProject.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon matBadge="P" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">file_download</mat-icon>
                    <span>{{'pages.home.menu.downloadProject' | translate}}</span>
                  </button>
                  <button mat-menu-item [disabled]="!dataService.Project" class="exportBtn" (click)="dataService.ExportFile(false)" matTooltip="{{'pages.home.menu.downloadConfig.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon matBadge="C" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">file_download</mat-icon>
                    <span>{{'pages.home.menu.downloadConfig' | translate}}</span>
                  </button>
                  <button mat-menu-item [disabled]="!dataService.SelectedGHProject" (click)="dataService.OnExportConfig()" matTooltip="{{'pages.home.menu.exportConfig.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon>output</mat-icon>
                    <span>{{'pages.home.menu.exportConfig' | translate}}</span>
                  </button>
                  <button mat-menu-item [disabled]="!dataService.Project" class="exportBtn" [matMenuTriggerFor]="exchangeMenu" matTooltip="{{'pages.home.menu.exchangeConfig.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon matBadge="C" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">wifi_protected_setup</mat-icon>
                    <span>{{'pages.home.menu.exchangeConfig' | translate}}</span>
                  </button>
                  <mat-menu #exchangeMenu="matMenu">
                    <button mat-menu-item [disabled]="true">
                      <mat-icon matBadge="C" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">file_upload</mat-icon>
                      {{'pages.home.menu.importConfig' | translate}}
                    </button>
                    <button mat-menu-item (click)="dataService.ExchangeConfigWithDefault()">Default Configuration</button>
                    <button mat-menu-item *ngFor="let conf of dataService.AvailableGHConfigs" (click)="dataService.ExchangeConfig(conf)">{{conf.name}}</button>
                  </mat-menu>
                  <button mat-menu-item [disabled]="!dataService.SelectedGHProject" (click)="dataService.OnTransferProjectDetails()" matTooltip="{{'pages.home.menu.transferProjectDetails.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>{{'pages.home.menu.transferProjectDetails' | translate}}</span>
                  </button>
                  <button mat-menu-item [disabled]="!dataService.Project" (click)="dataService.OnCloseProject()">
                    <mat-icon>close</mat-icon>
                    <span>{{'pages.home.menu.closeProject' | translate}}</span>
                  </button>
                  <mat-divider></mat-divider>
                  <input hidden type="file" accept=".ttmp" #projectUploader (change)="dataService.ImportFile(true, $event)"/>
                  <button mat-menu-item (click)="projectUploader.click()" matTooltip="{{'pages.home.menu.importProject.tt' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon matBadge="P" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">file_upload</mat-icon>
                    <span>{{'pages.home.menu.importProject' | translate}}</span>
                  </button>
                </mat-menu>
              </h2>

              <div *ngIf="dataService.SelectedGHProject" style="margin-bottom: 10px;">
                {{'pages.home.CurrentProject' | translate}}: {{dataService.SelectedGHProject.name}}
                <br/>
              </div>

              <button mat-button style="padding-left: 0px; margin-bottom: 20px;" (click)="dataService.NewProject()">
                <mat-icon color="primary">add_circle</mat-icon>
                {{'pages.home.createProject' | translate}}
              </button>
              <br/>
              <ng-container *ngFor="let proj of GetAvailableGHProjects()">
                <div id="project">
                  <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px;" matTooltip="{{'pages.home.storedOnline' | translate}}" matTooltipShowDelay="1000">cloud_queue</mat-icon>
                  <button class="color-primary astext" (click)="dataService.LoadProject(proj)">{{proj.name}}</button>
                  in {{GetRepoName(proj)}} 
                  <mat-icon *ngIf="IsProtected(proj)" class="iconBtn" style="vertical-align: top; margin-right: 5px;" matTooltip="{{'pages.home.notWritable' | translate}}" matTooltipShowDelay="1000">edit_off</mat-icon>
                  <button mat-icon-button class="show-on-hover iconBtn" style="margin-right: 5px;" [matMenuTriggerFor]="moreGHProject" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #moreGHProject="matMenu">
                    <button mat-menu-item (click)="dataService.OpenRepo(proj)">
                      <mat-icon>open_in_new</mat-icon>
                      <span>{{'general.openInNew' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="dataService.DeleteGHFile(proj)">
                      <mat-icon>delete</mat-icon>
                      <span>{{'general.Delete' | translate}}</span>
                    </button>
                  </mat-menu>
                </div>
              </ng-container>
              <mat-paginator class="paginator" *ngIf="dataService.AvailableGHProjects.length > 0" [length]="dataService.AvailableGHProjects.length" [pageSize]="pageProjectSize" [hidePageSize]="true" (page)="pageGHProjectIndex = $event.pageIndex"> </mat-paginator>
              
              <ng-container *ngFor="let proj of GetAvailableFSProjects()">
                <div id="project">
                  <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px;" matTooltip="{{'pages.home.storedOffline' | translate}}" matTooltipShowDelay="1000">file_present</mat-icon>
                  <button class="color-primary astext" (click)="dataService.LoadProjectFS(proj)">{{GetFileName(proj)}}</button>
                  in {{GetFilePath(proj)}}
                  <button mat-icon-button class="show-on-hover iconBtn" style="margin-right: 5px;" [matMenuTriggerFor]="moreFSProject" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #moreFSProject="matMenu">
                    <button mat-menu-item (click)="dataService.RemoveFSFile(proj)">
                      <mat-icon>remove</mat-icon>
                      <span>{{'general.Remove' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="dataService.DeleteFSFile(proj)">
                      <mat-icon>delete</mat-icon>
                      <span>{{'general.Delete' | translate}}</span>
                    </button>
                  </mat-menu>
                </div>
              </ng-container>
              <mat-paginator class="paginator" *ngIf="dataService.AvailableFSProjects.length > 0" [length]="dataService.AvailableFSProjects.length" [pageSize]="pageProjectSize" [hidePageSize]="true" (page)="pageFSProjectIndex = $event.pageIndex"> </mat-paginator>

              <h2>
                {{'pages.home.configs' | translate}}
                <button mat-icon-button style="vertical-align: middle;" [matMenuTriggerFor]="confMenu" aria-label="Menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #confMenu="matMenu">
                  <input hidden type="file" accept=".ttmc" #configUploader (change)="dataService.ImportFile(false, $event)"/>
                  <button mat-menu-item (click)="configUploader.click()">
                    <mat-icon matBadge="C" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="below">file_upload</mat-icon>
                    <span>{{'pages.home.menu.importConfig' | translate}}</span>
                  </button>
                </mat-menu>
              </h2>

              <ng-container *ngFor="let conf of GetAvailableGHConfigs()">
                <div id="config">
                  <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px;" matTooltip="{{'pages.home.storedOnline' | translate}}" matTooltipShowDelay="1000">cloud_queue</mat-icon>
                  <button class="color-primary astext" (click)="dataService.LoadConfig(conf)">{{conf.name}}</button>
                  in {{GetRepoName(conf)}}
                  <mat-icon *ngIf="IsProtected(conf)" class="iconBtn" style="vertical-align: top; margin-right: 5px;" matTooltip="{{'pages.home.notWritable' | translate}}" matTooltipShowDelay="1000">edit_off</mat-icon>
                  <button mat-icon-button class="show-on-hover iconBtn" style="margin-right: 5px;" [matMenuTriggerFor]="moreGHConfig" matTooltip="{{'general.More' | translate}}" matTooltipShowDelay="1000">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #moreGHConfig="matMenu">
                    <button mat-menu-item (click)="dataService.OpenRepo(conf)">
                      <mat-icon>open_in_new</mat-icon>
                      <span>{{'general.openInNew' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="dataService.DeleteGHFile(conf)">
                      <mat-icon>delete</mat-icon>
                      <span>{{'general.Delete' | translate}}</span>
                    </button>
                  </mat-menu>
                </div>
              </ng-container>
              <mat-paginator class="paginator" *ngIf="dataService.AvailableGHConfigs.length > 0" [length]="dataService.AvailableGHConfigs.length" [pageSize]="pageConfigSize" [hidePageSize]="true" (page)="pageGHConfigIndex = $event.pageIndex"> </mat-paginator>

              <div style="margin-top: 50px;">
                <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px;">waving_hand</mat-icon>
                <button class="color-primary astext" (click)="tourService.start()">{{'pages.home.welcomeTour' | translate}}</button>
                <ng-container *ngIf="!electron?.isElectron">
                  <br/>
                  <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px; margin-bottom: 5px;">install_desktop</mat-icon>
                  <a href="https://github.com/SecSimon/TTM/releases" target="_blank">{{'pages.home.downloadDesktop' | translate}}</a>
                </ng-container>
                <br/>
                <mat-icon class="iconBtn" style="vertical-align: top; font-size: 20px; margin-right: 5px;">code</mat-icon>
                <a href="https://github.com/SecSimon/TTM" target="_blank">{{'pages.home.viewSourceCode' | translate}}</a>
              </div>
            </ng-container>

            <ng-container *ngIf="!dataService.IsLoggedIn && !dataService.IsGuest">
              <h2>{{'pages.home.welcome' | translate}}!</h2>
              <p>{{'pages.home.need_login' | translate}}:</p>
              <button mat-button routerLink="/login">{{'pages.home.go_to_login' | translate}}</button>
              <button mat-button (click)="dataService.GuestLogin()">{{'pages.login.loginAsGuest' | translate}}</button>
            </ng-container>
          </div>
        </div>
        <div class="column">
          <div class="second-column-content">
            <h2>{{'pages.home.process' | translate}}</h2>
            <ng-container *ngIf="!HasCookieConsent">
              <div style="margin-bottom: 10px;">
                {{'pages.home.video' | translate}}: <a href="https://youtube.com/playlist?list=PLSMRtuVN409fB35RLljjg3jNkVJbLIP1u" target="_blank">YouTube</a>
                <br/>
              </div>
            </ng-container>
            <ng-container *ngIf="HasCookieConsent">
              <div class="videoContainer">
                <iframe class="video" [src]="VideoURL" title="Thing Threat Modeling" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </ng-container>
            <mat-accordion class="expansion-panel-headers-align">
              <mat-expansion-panel [expanded]="processStep === 0" (opened)="SetProcessStep(0)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    TTModeler
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'pages.home.tool' | translate}}
                    <mat-icon>terminal</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p *ngFor="let pro of toolBenefits" style="margin: 0;"><mat-icon style="vertical-align: bottom;">done</mat-icon> {{'pages.home.tool.' + pro | translate}}</p>
                <mat-action-row>
                  <button mat-button color="primary" (click)="NextProcessStep()">{{'tour.next' | translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>
              <mat-expansion-panel [expanded]="processStep === 1" (opened)="SetProcessStep(1)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'pages.home.process' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'pages.home.methodology' | translate}}
                    <mat-icon>star</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>{{'pages.home.methodologyInfo' | translate}}</p>
                <mat-action-row>
                  <button mat-button color="primary" (click)="PrevProcessStep()">{{'tour.prev' | translate}}</button>
                  <button mat-button color="primary" (click)="NextProcessStep()">{{'tour.next' | translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>
              <mat-expansion-panel *ngFor="let stage of Stages; index as indexStage; last as isLast;" [style.marginBottom]="isLast ? '20px' : '0px'" [expanded]="processStep === indexStage+2" (opened)="SetProcessStep(indexStage+2)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{stage.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{stage.desc}}
                    <mat-icon>{{stage.icon}}</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p *ngFor="let step of stage.steps">{{step.number}}. {{step.name}}</p>
                <mat-action-row>
                  <button mat-button color="primary" (click)="PrevProcessStep()">{{'tour.prev' | translate}}</button>
                  <button mat-button color="primary" (click)="NextProcessStep()" *ngIf="!isLast">{{'tour.next' | translate}}</button>
                  <button mat-button color="primary" (click)="ProgressTracker()" *ngIf="isLast">{{'tour.progressTracker' | translate}}</button>
                  <button mat-button color="primary" (click)="NextProcessStep()" *ngIf="isLast">{{'tour.end' | translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-status-bar></app-status-bar>
</div>
